/*  ///////////////////////////////

/* The player's Health, Stamina, Wounds, and "boons" */
.hud-bottom-left-container{
    position: absolute;
    bottom: 3%;
    left: 1%;
    width: 25vw;
    height: 40vw;
    /* -webkit-transform: rotate3d(0.5,-0.5,-0.1, 25deg); */
    pointer-events: none;
    /* border: 1px solid magenta; */
    margin: 1vw 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
 }

.playerHealth-container {
    position: absolute;
    bottom: 10%;
    left: 10%;
    margin: 0 0 0 0;
    padding: 0 0 0 0;

}

.playerStamina-container {
    position: absolute;
    bottom: 10%;
    left: 10%;
}

.segmentoverlays {
    position:absolute;
    display:inline;
    z-index:1;
    opacity: 0.55;
    background-image: url('../images/healthmask3.png');
    background-size:   contain;
    background-repeat: no-repeat;
    height: 155px;
    width: 155px;
}

.stamina-bar-container{
  display: flex;
  height: 2.8vw;
  width: 8vw;
  /* border: 1px solid white; */
}
.buff-armor {
  width: 25vw;
  margin-bottom: 0.3vw;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  /* border: 1px solid blue; */
}
.player-buff-container {
  height: 2.5vw;
  width: 17vw;
  /* margin-bottom: 1vw; */
  pointer-events: none;
  display: flex;
  flex-direction: row;
  overflow: hidden;
  flex-wrap: wrap;
  justify-content: flex-end;
  /* border: 1px solid yellow; */
}

.buff-icon {
  position: relative;
  width: 2.25vw;
  height: 2.25vw;
  /* background:linear-gradient(to top, rgba(13, 13, 13, 0.5) 0%, rgba(13, 13, 13, 0) 100%); */
  background-image: url('../../images/barbackground.png');
  background-size: cover;
  background-repeat: no-repeat;
  margin-right: 0.1vw;
  margin-left: 0.1vw;
  flex-shrink: 0;
  flex-grow: 0;

}

.buff-icon-background {
  position: absolute;
  width: 2.25vw;
  max-height: 2.25vw;
  /* background-color: rgba(0,0,0,0.5); */
  background-image: url('../../images/barbackground.png');
  background-size: cover;
  background-repeat: no-repeat;
  bottom: 0;
}

.buff-icon-foreground {
  position:absolute;
  width: 2.25vw;
  height: 2.25vw;
  background-image: url("../images/Wounds/Slow_Wound.svg");
  background-size: contain;
}

.wound-slot{
    height: 99%;
    width: 3.9vw;
    background-color: rgba(227,0,5,0.8);
    display: inline-flex;
}
/*
.airdrop-container{
    position:absolute;
    height: 3vw;
    width: 3vw;
    background:linear-gradient(to top, rgba(13, 13, 13, 0.5) 0%, rgba(13, 13, 13, 0) 100%);
    top: 0;
    margin-right: 0.25vw;
    font: 2.25vw ForgottenFuturist;
    text-align: center;
    display: inline-block;
    z-index: 1;
    overflow: visible;
    border: 1px solid rgba(220,220,220,1);
}

/*
.airdrop-value-time {
   position:absolute;
   height: 2.5vw;
   width: 4vw;
   color: rgba(255,255,255,1);
   font: 1.5vw ForgottenFuturist;
   overflow: hidden;
   top: 0;
   left:2.6vw;
   text-align: center;
}*/
/*
.airdrop-value{
  background-color: rgba(120, 190, 220, 1);
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 0%;
  z-index: 9998;
  font: 2.25vw ForgottenFuturist;
}

.airdrop-value-full{
  background-color: rgba(13,13,13,0.3);
  -webkit-animation: airdrop-ready-green 2s linear infinite;
}

.airdrop-value-image{
  background-image: url('../images/airdrop.svg');
  background-size: cover;
  background-repeat: no-repeat;
  position:absolute;
  width: 100%;
  height: 100%;
  z-index: 9998;
  font-size: 1.5vw;
}
*/

.airdrop-container{
  width: 9vw;
  height: 3vw;
  margin-bottom: 0.3vw;
  display: flex;
  flex-direction: row;
  /* background:linear-gradient(to right, rgba(13, 13, 13, 0.5) 0%, rgba(13, 13, 13, 0) 50%); */
  /* background-image: url('../../images/barbackground.png');
  background-size: cover;
  background-repeat: no-repeat; */
}

.airdrop-value-image{
  background-image: url('../images/airdrop.svg');
  background-size: contain;
  background-repeat: no-repeat;
  display: flex;
  align-self: center;
  height: 2vw;
  width: 2vw;
}

.airdrop-value{
  display: flex;
  margin: 0;
  height: 100%;
  margin-left: 2%;
  padding: 0;
  padding-top: 8%;
  font: 1.5vw ForgottenFuturist-Bold-Italic;
  color: rgba(255, 255, 255, 1);
}

.airdrop-value-time {
  display: flex;
  margin: 0;
  margin-left: 10%;
  width: 20%;
  padding: 0;
  align-items: center;
  justify-content: center;
  font: 1.5vw ForgottenFuturist;
  color: rgba(255,255,255,1);
  background:linear-gradient(to right, rgba(204, 0, 0, 0.5) 0%, rgba(204, 0, 0, 0) 100%);
}

#airdrop-rating-queue{
  width: 15vw;
  height: 3vw;
  background-color: rgba(0,0,0,0);
  left: 70%;
  top: 0%;
  overflow: visible;
  padding: 0 0 0 0;
}

.airdrop-rating-notice{
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
  font: 1.8vw ForgottenFuturist;
  color: rgba(255,255,255,0.8);
  opacity: 1;
}

.airdrop-rating-notice span{
  font: 1.8vw ForgottenFuturist;
  /*margin-left: 2.4vw;*/
}

.airdrop-rating-notice p{
  font: 1vw ForgottenFuturist;
  margin-left: .5vw;
  /*margin-top: -0.5vw;
  padding-top: 2vw;*/

}

.func-bar{
  width: 9vw;
  height: 3vw;
  margin-bottom: 1vw;
  overflow: visible;
  display: flex;
  flex-direction: row;
  /* background:linear-gradient(to right, rgba(13, 13, 13, 0.5) 0%, rgba(13, 13, 13, 0) 100%); */
  /* background-image: url('../../images/barbackground.png');
  background-size: cover;
  background-repeat: no-repeat; */
  /* border-radius: 0px 5px 5px 0px; */
}

.func-icon{
  background-image: url('../images/funcsymbol.svg');
  background-size: contain;
  background-repeat: no-repeat;
  display: flex;
  margin-top: .8vw;
  margin-left: .3vw;
  margin-right: 0.5vw;
  height: 3vw;
  width: 3vw;
  align-items: center;
  justify-content: center;
}

.func-text{
  display: flex;
  font: 2.5vw ForgottenFuturist-Bold;
  color: rgba(255, 255, 255, 1);
  align-items: center;
  justify-content: center;
  margin-top: 2%;
  line-height: 1;
}

.stamina-meter{
  display: flex;
  height: 1vw;
  width: 100%;
  background-image: url('../../images/barbackground.png');
  background-size: 100% 100%;
  background-repeat: no-repeat;

}

.stamina-bar{
  position:absolute;
  width:100%;
  height: 1vw;
  /* background: linear-gradient(to right, rgba(246,248,249,1) 0%, rgba(255,255,255,1) 100%); */
  background-image: url('../../images/barstamina.png');
  background-size: 100% 100%;
  background-repeat: no-repeat;
  font-size: 2.25vw;
  z-index: 1000;
}

.stamina-bar-value{
  position:relative;
  margin-top: -0.15vw;
  margin-left: 2vw;
  font: 1.5vw ForgottenFuturist-Bold;
  color: rgb(13,13,13);
}

.health-meter {
  display: flex;
  height: 2.5vw;
  width: 25vw;
  margin-bottom: 0.3vw;
  /* background-color: rgba(13,13,13,0.5); */
  background-image: url('../../images/barbackground.png');
  background-size: 100% 100%;
  background-repeat: no-repeat;
  /* border: 1px solid red; */
}

.health-meter-content  span{
}

.health-meter-content{
  height:100%;
  width: 100%;

}

.health-bar{
  position:absolute;
  height: 2.5vw;
  width: 100%;
  /* background: linear-gradient(to right, rgba(104,0,0,1) 0%, rgba(204,0,0,1) 120%); */
  background-image: url('../../images/barhealth.png');
  background-size: 100% 100%;
  background-repeat: no-repeat;
  font-size: 2.25vw;
  z-index: 1000;
}

.health-bar-value{
  position:absolute;
  margin-top: -0.2vw;
  display:inline-block;
  margin-left: 1.8vw;
  font: 2.5vw ForgottenFuturist;
  color: rgba(255,255,255,1);
}

.knob-responsive{
  height:100%;
  width: 100%;
}

.playerStamina{
  font-size: 5vw;
}

.glyphicon-flash{
  margin-top: 0.1vw;
  position:absolute;
  margin-left: 0.5vw;
  font-size: .8vw;
  color: rgb(13,13,13);
}

.glyphicon-plus{
  margin-top: 0.7vw;
  position:absolute;
  margin-left: 0.5vw;
  font-size: 1vw;
  color: rgba(255,255,255,1);
}



.func-icon-scroll{
  background-image: url('../images/funcsymbol.svg');
  background-size: contain;
  background-repeat: no-repeat;
  display: inline-block;
  position: relative;
  left: 0;
  height: 1.45vw;
  width: 1.45vw;
  opacity: 0.8;
 }

 .armor-icon-container{
   width: 7.5vw;
   height: 1.5vw;
   /* background:linear-gradient(to top, rgba(13, 13, 13, 0.5) 0%, rgba(13, 13, 13, 0) 100%); */
   background-image: url('../../images/barbackground.png');
   background-size: cover;
   background-repeat: no-repeat;
   overflow: hidden;
   display: flex;
   /* border: 1px solid lime; */
 }

 .armor-icon-background{
   position: absolute;
   width: 7.5vw;
   height: 1.5vw;
   background: linear-gradient(to right, rgba(0,146,48,1) 0%,rgba(0,200,50,1) 100%);
 }

 .armor-icon-foreground{
   margin-top: 0.25vw;
   margin-left: 0.5vw;
   position: absolute;
   width: 100%;
   height: 1vw;
   background-image: url('../images/Armor_Icon.svg');
   background-size: contain;
   background-repeat: no-repeat;

 }

 .movement-icon-container{
   display: flex;
   height: 2vw;
   width: 2vw;

 }
#movement-icon{
  height: 2vw;
  width: 2vw;

}
 .walk-icon{
   height: 2vw;
   width: 2vw;
    background-image: url('../images/walk.png');
    background-size: contain;
    background-repeat: no-repeat;
 }
 .sprint-icon{
   height: 2vw;
   width: 26vw;
    background-image: url('../images/sprint.png');
    background-size: contain;
    background-repeat: no-repeat;
 }
 .crouch-icon{
   height: 1.6vw;
   width: 1.6vw;
    background-image: url('../images/crouch.png');
    background-size: contain;
    background-repeat: no-repeat;
 }
