.pulse-element{
  -webkit-animation: pulsate 0.3s ease-in;
  -webkit-animation-iteration-count: 1;
  box-shadow: none;
}

.paused{
    -webkit-animation-play-state:paused;
    -moz-animation-play-state:paused;
    -o-animation-play-state:paused;
    animation-play-state:paused;
}

.play-fadeout{
  -webkit-animation-duration: 0.4s;
  -webkit-animation-name: fadeout-failed;
  opacity: 0;
}

.airdrop-rating-fade{
  -webkit-animation-duration: .75s;
  -webkit-animation-name: airdrop-rating-fade;
  transform: translateX(0px,0px);
  -webkit-transform: translateX(0px,0px);
  opacity: 1;
}

.airdrop-rating-scroll{
  -webkit-animation-duration: .75s;
  -webkit-animation-name: airdrop-rating-flyup;
  transform: scale(0, 0);
  -webkit-transform: scale(0, 0);
  opacity: 1;
  /*position: absolute;*/
}

.func-text-negative{
  -webkit-animation-duration: .5s;
  -webkit-animation-name: func-negative;
}

.func-text-positive{
  -webkit-animation-duration: 2s;
  -webkit-animation-name: func-positive;
}


@-webkit-keyframes spinright { 100% { -webkit-transform: rotate(360deg); } }
@-webkit-keyframes spinleft { 100% { -webkit-transform: rotate(-360deg); } }

@-webkit-keyframes fadeout-failed {
  0% { opacity: 1;}
  100% { opacity: 0;}
}

@-webkit-keyframes pulsate {
    0% {  -webkit-transform: scale(1, 1);
    }
    25% { -webkit-transform: scale(0.9, 0.9);
    }
    50% { -webkit-transform: scale(1.1, 1.1);
    }
    100% {  -webkit-transform: scale(1, 1);
    }
}

@-webkit-keyframes gamemessagegeopen {
  0% {
    opacity: 0;
    -webkit-opacity: 0;

  }

  100% {
    opacity: 1;
    -webkit-opacity: 100;
  }
}

@-webkit-keyframes airdrop-ready {
  0% { background-color: rgba(13,13,13,0.5); }
  50% { background-color: rgb(205,0,5); }
  100% { background-color: rgba(13,13,13,0.5); }
}

@-webkit-keyframes airdrop-ready-green {
  from { background-color: rgba(0, 150, 200, 1); -webkit-box-shadow: 0 0 9px #333; }
  50% { background-color: rgba(0, 250, 200, 1); -webkit-box-shadow: 0 0 18px rgba(0, 250, 200, 1); }
  to { background-color: rgba(0, 150, 200, 1); -webkit-box-shadow: 0 0 9px #333; }
}

@-webkit-keyframes func-negative {
  0% { color: rgba(255, 255, 255, 0.8); }
  50% { color: rgba(227,0,5,0.8); }
  100% { color: rgba(255, 255, 255, 0.8); }
}

@-webkit-keyframes func-positive {
  0% { color: rgba(255, 255, 255, 0.8); }
  50% { color: rgba(0, 150, 200, 1); }
  100% { color: rgba(255, 255, 255, 0.8); }
}

@-webkit-keyframes airdrop-rating-flyup {
  0% {
    transform: scale(0, 0);
    -webkit-transform: translateX(0px,0px);
    -webkit-transform: scale(0, 0);
    transform: translateX(0px,0px);
    opacity: 1;
  }
  10% {
    transform: scale(1.5, 1.5);
    -webkit-transform: scale(1.5, 1.5);
    -webkit-transform: translateX(0px,0px);
    transform: translateX(0px,0px);
    opacity: 1;
  }
  20% {
    transform: scale(1, 1);
    -webkit-transform: scale(1, 1);
    -webkit-transform: translateX(0px,0px);
    transform: translateX(0px,0px);
    opacity: 1;
  }
  70% {
    transform: scale(1, 1);
    -webkit-transform: scale(1, 1);
    -webkit-transform: translateX(0px,0px);
    transform: translateX(0px,0px);
    opacity: 1;
  }
  100% {
    transform: scale(1, 1);
    -webkit-transform: scale(1, 1);
    -webkit-transform: translateX(0px,0px);
    transform: translateX(0px,0px);
    opacity: 0;
  }
}

@-webkit-keyframes airdrop-rating-fade {
  0% {
    opacity: 1;
  }
  70% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@-webkit-keyframes airdrop-rating-rand1 {
  0% {
    transform: translate(0px,0px);
    -webkit-transform: translate(0px,0px);
    opacity: 1;
  }
  70% {
    transform: translate(10px, -20px);
    -webkit-transform: translate(10px, -20px);
    opacity: 1;
  }
  100% {
    transform: translate(15px, 10px);
    -webkit-transform: translate(15px, 10px);
    opacity: 0;
  }
}


@-webkit-keyframes show-location {
  0% {
    opacity: 0;
    -webkit-opacity: 0;
  }
  20% {
    opacity: 1;
    -webkit-opacity: 1;
  }
  85% {
    opacity: 1;
    -webkit-opacity: 1;
  }
  100% {
    opacity: 0;
    -webkit-opacity: 0;
  }
}

@-webkit-keyframes endofmatch-outcome-fadein {
  0% { opacity: 0;}
  100% { opacity: 1;}
}

@-webkit-keyframes endofmatch-outcome-bg-scalein {
  0% {
    transform: scale(0,1);
    -webkit-transform: scale(0,1);
  }
  100% {
    transform: scale(1,1);
    -webkit-transform: scale(1,1);
  }
}

@-webkit-keyframes endofmatch-outcome-text-scalein {
  0% {
    transform: scale(0,0);
    -webkit-transform: scale(0,0);
  }
  50% {
    transform: scale(1.2,1.2);
    -webkit-transform: scale(1.2,1.2);
  }
  100% {
    transform: scale(1,1);
    -webkit-transform: scale(1,1);
  }
}

@-webkit-keyframes endofmatch-element-intro {
  0% {
    transform: scale(0,0);
    -webkit-transform: scale(0,0);
  }
  50% {
    transform: scale(1.2,1.2);
    -webkit-transform: scale(1.2,1.2);
  }
  100% {
    transform: scale(1,1);
    -webkit-transform: scale(1,1);
  }
}

@-webkit-keyframes endofmatch-reward-intro {
  0% {
    transform: scale(0,0);
    -webkit-transform: scale(0,0);
  }
  50% {
    transform: scale(1.5,1.5);
    -webkit-transform: scale(1.5,1.5);
  }
  100% {
    transform: scale(1,1);
    -webkit-transform: scale(1,1);
  }
}

@-webkit-keyframes endofmatch-impact {
  0% {
    transform: scale(0,0);
    -webkit-transform: scale(0,0);
  }
  50% {
    transform: scale(1.1,1.1);
    -webkit-transform: scale(1.1,1.1);
  }
  100% {
    transform: scale(1,1);
    -webkit-transform: scale(1,1);
  }
}


@-webkit-keyframes endofmatch-outcome-imagespin { 100% { -webkit-transform: rotate(360deg); } }
