@font-face {
    font-family: ForgottenFuturist-Bold;
    src: local(ForgottenFuturist-Bold), url('../../fonts/forgotten_futurist_bd.otf') format('opentype');
}

@font-face {
    font-family: ForgottenFuturist-Bold-Italic;
    src: local(ForgottenFuturist-Bold-Italic), url('../../fonts/forgotten_futurist_bd_it.otf') format('opentype');
}

@font-face {
    font-family: ForgottenFuturist;
    src: local(ForgottenFuturist), url('../../fonts/Forgotten_Futurist_Rg.ttf');
}

@font-face {
    font-family: ForgottenFuturist-Italic;
    src: local(ForgottenFuturist-Italic), url('../../fonts/forgotten_futurist_rg_it.otf') format('opentype');
}

@font-face {
    font-family: ForgottenFuturist-Black;
    src: local(ForgottenFuturist-Black), url('../../fonts/forgotten_futurist_bl.otf') format('opentype');
}

@font-face {
    font-family: ForgottenFuturist-Black-Italic;
    src: local(ForgottenFuturist-Black-Italic), url('../../fonts/forgotten_futurist_bl_it.otf') format('opentype');
}

@font-face {
    font-family: ForgottenFuturist-Light;
    src: local(ForgottenFuturist-Bold), url('../../fonts/forgotten_futurist_lt.otf') format('opentype');
}

@font-face {
    font-family: ForgottenFuturist-Light-Italic;
    src: local(ForgottenFuturist-Light-Italic), url('../../fonts/forgotten_futurist_lt_it.otf') format('opentype');
}

@font-face {
  font-family: Glyphicons-Halflings;
  src: url('../../fonts/glyphicons-halflings-regular.eot') format('embedded-opentype');
}
