@font-face {
  font-family: CullDings;
  src: url('../../fonts/CullDings.ttf');
}

::-webkit-scrollbar {
    width: 0.8vw;
}

::-webkit-scrollbar-track {
    background-color: rgba(13,13,13,0.8);
}

::-webkit-scrollbar-thumb {
  /*
    background-color: rgba(255,255,255,0.7);
    border-radius: 4px;
    */
   background-color: rgba(204,0,0,0.5);
   border: 3px solid transparent;
   border-radius: 9px;
   background-clip: content-box;
}

.currency-icon {
  display: inline;
}

.currency-icon::after{
  font-family: CullDings;
  content: '\0021';
  display: inline;
}

body {
    background: rgba(0,0,0,0);
    overflow: hidden;
    -webkit-text-stroke: 1px rgba(0, 0, 0, 0.1);
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
    width: 100%;
    height: 100%;
    cursor: default;
}

div  {
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
}

.hudContainer {
    width: 100%;
    height: 100%;
    margin: auto auto auto auto;
}

.help-screen {
    position: absolute;
    width:100%;
    height:100%;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    top: 0;
    left: 0;
    display: none;
}

.video_container{
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -1000;
}

.hud-overlay{
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  overflow: hidden;
}

.game-message-container{
  width: 45vw;
  height: 75%;
  display: flex;
  flex-direction: column;
  order: 1;
  margin-top: 7vw;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
  pointer-events: none;
}

.game-message{
  width: 100%;
  height: auto;
  margin: auto auto auto auto;
  margin-top: 1vw;
  margin-bottom: 1vw;
  -webkit-animation: gamemessagegeopen 0.8s ease;
  -webkit-transition: opacity 0.5s ease-out;
  pointer-events: none;
}

.game-message-header{
  width:auto;
  height: 0.5vw;
  pointer-events: none;
}

.game-message-text{
  width: auto;
  margin-top: 1vw;
  margin-bottom: 1vw;
  margin-left: 1vw;
  margin-right: 1vw;
  height: 100%;
  text-align: center;
  color: rgba(255, 255, 255, 1);
  font: 2vw ForgottenFuturist-Bold;
  pointer-events: none;
}

.option-group{

}

.option-item{
  width: 95%;
  height: 1.5vw;
  font: 0.75vw ForgottenFuturist-Bold !important;
  color: white;
  margin-left: 2vw;
  margin-bottom: 0.65vw;
  margin-top: 0.65vw;
}

.option-item:hover{
  color: rgb(227,0,5);
  -webkit-transition: color 0.2s ease-in-out;
}

.option-item:active{
  color: rgb(227,0,5);
  -webkit-transition: all 0.2s ease-in-out;
}

.option-value{
  font: 1.25vw ForgottenFuturist;
  float: right;
  display: inline;
  margin-right: 2vw;
}

.options-save-button{
  position: relative;
  display: block;
  float: right;
  margin-top: 0.8vw;
  margin-right: 2vw;
  font: 1.25vw ForgottenFuturist-Bold !important;
  color: white;
  z-index: 998;
}

.options-save-button:hover{
  color: rgb(227,0,5);
  -webkit-transition: color 0.2s ease-in-out;
}

.game-message-fadeout{
  opacity: 0;
}

.pause-menu-box{
    width:100%;
    height:100%;
    background: rgba(13,13,13,0.8);
    position: absolute;
    top:0;
    left:0;
}

.pause-menu-container{
    width: 80vw;
    height: 35vw;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    overflow: hidden;
}

.option-tooltip{
  font: 0.65vw ForgottenFuturist;
  color: white;
  margin-top: -1.5vw;
  margin-right: 1vw;
  text-align: right;
  float: right;
}
.pause-menu-left-container{
  margin-right: 2vw;
  width: 20vw;
}

.pause-menu-left-subcontainer{
  background-color: rgba(13,13,13,0.5);
  width: 20vw;
  height: 17.5vw;
}

.pause-menu-left-subcontainer ul{
  list-style-type: none;
  color:white;
  list-style-type: value;
  font: 2vw ForgottenFuturist-Bold;
  padding-top: 0.5vw;
  -webkit-padding-start:1vw;
}

.perk-data li{
    font: 0.8vw ForgottenFuturist;
    margin-top: 0vw;
    margin-bottom: 0.2vw !important;
    -webkit-transition: none !important;
    pointer-events: none;
}

.perk-data li:first-child{
  font: 0.8vw ForgottenFuturist-Bold;
  margin-top: 0vw;
  -webkit-transition: none !important;
  pointer-events: none;
}

.pause-menu-left-subcontainer li{
  -webkit-transition: color 0.2s ease-in-out;
    margin-bottom: 0.2vw;
}

.pause-menu-left-subcontainer li:hover{
  -webkit-transition: color 0.2s ease-in-out;
  color: rgb(227,0,5);
}

.pause-menu-left-container-header{
  height: 0.35vw;
  width: 100%;
  background-color: rgba(227,0,5,0);
  /* -moz-box-shadow: 0 0 10px rgb(255,150,21);
  -webkit-box-shadow: 0 0 10px rgb(255,150,21);
  box-shadow: 0px 0px 10px rgb(255,150,21); */
  margin-bottom: 2vw;
}

.pause-menu-left-container-sub-header{
  height: 0.35vw;
  width: 100%;
  background-color: rgba(227,0,5,0);
  /* -moz-box-shadow: 0 0 10px rgb(255,255,220);
  -webkit-box-shadow: 0 0 10px rgb(255,255,220);
  box-shadow: 0px 0px 10px rgb(255,255,220); */
  margin-bottom: 1vw;
}

#player-info{
    margin-left: 1vw;
    list-style-type: none;
    margin-right: 1vw;
}

#player-info ul{
  list-style-type: none;
  -webkit-margin-before: 0.2vw;
  -webkit-margin-after: 0.2vw;
  -webkit-margin-start: 0;
  -webkit-margin-end: 0;
  -webkit-padding-start: 0;
  margin-left: 1.5vw;
  margin-bottom: 0;

}
.pause-menu-left-player-info{
  color:white;
  font: 1.25vw ForgottenFuturist-Bold;
  background-color: rgba(13,13,13,0.5);
  width: 20vw;
  height: 16.5vw;
  margin-top: 1vw;
  overflow: hidden;
}

.pause-menu-right-container-header{
  height: 0.35vw;
  width: 100%;
  background-color: rgba(227,0,5,0);
  margin-bottom: 2vw;
  /* -moz-box-shadow: 0 0 10px rgba(0,255,255,1);
  -webkit-box-shadow: 0 0 10px rgba(0,255,255,1);
  box-shadow: 0px 0px 10px rgba(0,255,255,1); */
}

.pause-menu-right-container-quit{
  width: 50%;
  height: 15vw;
  background-color: rgba(13,13,13,0.5);
  margin-left: auto;
  margin-right: auto;
  position: relative;
  top: 40%;
  transform: translateY(-40%);
}

.pause-menu-right-container-quit h1{
  font: 2vw ForgottenFuturist-Bold;
  color: white;
  margin-left: 1vw;
  margin-top: -1vw;
}

.pause-menu-right-container-quit p{
  font: 1vw ForgottenFuturist-Bold;
  color: white;
  margin-left: 1vw;
}

.pause-menu-right-container-view{
    width:100%;
}

.pause-menu-right-container{
  background-color: rgba(13,13,13,0.5);
  width: 60vw;
}

.pause-menu-right-container-quit-buttons{
  width: 100%;
  height: 100%;
  display: flex;
}

.pause-menu-right-container-quit-button{
  position: relative;
  margin-top: 2vw;
  margin-bottom: auto;
  margin-left: auto;
  margin-right: auto;
  font: 1.5vw ForgottenFuturist-Bold;
  color: white;
  width: 50%;
  text-align: center;
  -webkit-transition: color 0.2s ease-in-out;
}

.pause-menu-right-container-quit-button:hover{
  color: rgb(227,0,5);
  -webkit-transition: color 0.2s ease-in-out;
}

.pause-menu-right-container-controls{
  width: 100%;
  height: 32vw;
  margin-left: auto;
  margin-right: auto;
}

.pause-menu-right-container-options{
  margin-top: -1vw;
}

.pause-menu-right-container-help{
  background-image: url("../images/gamehelpguide.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: top;
  width: 100%;
  height: 32vw;
  margin-left: auto;
  margin-right: auto;
}

.pause-menu-right-container-challenges{
  width: 100%;
  height: 32vw;
  margin-left: auto;
  margin-right: auto;
}

.pause-menu-right-container-crafting{
  background-image: url("../images/craftinguide.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: top;
  width: 100%;
  height: 32vw;
  margin-left: auto;
  margin-right: auto;
}

.dropdown{
  overflow:visible;
  user-select: default;
  -webkit-user-select: default;
  font: 1.25vw ForgottenFuturist;
  display: inline-block;
  position: absolute;
  height: auto;
  right: 0;
  padding-top: 0.55vw;
  overflow: visible;
  width: 10vw;
  pointer-events: all;
  text-transform: none;
  text-align: center;
  margin-right: 1vw;
}

.dropdown-small{
  min-width: 7.5vw;
  width: auto;
}

.dropdown-small .dropdown-toggle{
  min-width: 7.5vw;
  width: auto;
}

.dropdown-wide{
  margin-right: 1.5vw;
  min-width: 12.5vw;
  width: auto;
}

.dropdown-wide .dropdown-toggle{
  min-width: 12.5vw;
  width: auto;
}

.dropdown-toggle{
  width: 10vw;
  height: 2vw;
  font: 1vw ForgottenFuturist;
  color: rgba(255, 255, 255, 0.9);
  padding-top: 0.2vw;
  padding-bottom: 0.2vw;
  margin-right: 1vw;
  position: relative;
  margin-left: auto;
  margin-top: -0.8vw;
  text-align: center;
  overflow: visible;
}

.btn-info {
  border: none;
  font: 1.25vw ForgottenFuturist;
  border-radius: 0px;
  overflow: visible;
  height: auto;
  background-color: rgba(227,0,5,0.7);
}

.btin-info.active,
.btn-info:active,
.btn-info.focus,
.btn-info:focus,
.btn-info.hover,
.btn-info:hover,
.open>.dropdown-toggle.btn-info{
  background-color: rgba(227,0,5,0.7);
  border-color: rgba(255, 255, 255, 0.0);
  color: black;
  border: none;
}

.dropdown-menu{
  background-color: rgba(1, 1, 1, 0.8);
  color: rgba(255, 255, 255, 0.7);
  overflow-y: scroll;
  height: auto;
  max-height: 11vw;
  width: inherit;
  min-width: 100%;
}

.dropdown ul{
  overflow-x: hidden;
  overflow-y: auto;
  width: auto;
}

.btn .caret{
  opacity: 0;
  width: 0;
  height: 0;
  position: absolute;
}

.dropdown-menu li{
  text-align: center;
}

.dropdown-menu a{
  color: rgba(255, 255, 255, 0.7);
  font: 1.25vw ForgottenFuturist;
  width: 100%;
}

.dropdown-menu>li>a{
  color: rgba(255, 255, 255, 0.7);
}

.dropdown-menu>li>a:hover{
  color: black;
}

.slider.slider-horizontal{
  width: 50%;
}

.pause-menu-modal-container{
  width: 30%;
  height: 15vw;
  background-color: rgba(13,13,13,0.5);
  margin-left: auto;
  margin-right: auto;
  position: relative;
  box-shadow: 0 0 10px rgba(0,0,0,0.75);
  -webkit-box-shadow: 0 0 10px rgba(0,0,0,0.75);
  z-index: 1000;
  top: 50%;
  transform: translateY(-50%);
}

.pause-menu-modal{
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: rgba(13,13,13,0.5);
  z-index: 999;
  top:0;
  left:0;
}

.pause-menu-modal-title {
  font: 2vw ForgottenFuturist-Bold;
  color: white;
  margin-left: 2vw;
  margin-right: 2vw;
  margin-top: -1vw;
}

.pause-menu-modal-body {
  font: 1vw ForgottenFuturist;
  color: white;
  margin-top: 1vw;
  margin-left: 2vw;
  margin-right: 2vw;
}

.pause-menu-modal-options{
  width: 100%;
  display: flex;
  bottom:1vw;
  position:absolute;
}

.pause-menu-modal-option{
  position: relative;
  margin-top: 2vw;
  margin-bottom: auto;
  margin-left: auto;
  margin-right: auto;
  font: 1.5vw ForgottenFuturist-Bold;
  color: white;
  width: 50%;
  text-align: center;
  -webkit-transition: color 0.2s ease-in-out;
}

.pause-menu-modal-option:hover{
  color: rgb(227,0,5);
  -webkit-transition: color 0.2s ease-in-out;
}

.player-info .p {
  font: 1.5vw ForgottenFuturist;
}

.blur-element{
  -webkit-filter: blur(1px);
  -webkit-transition: -webkit-filter .10s;
}

#cloned-elements{
  position: absolute;
  display: none;
}

.screenspace-player-position{
    position: absolute;
    width: 3vw;
    margin-left: -1.5vw;
    margin-top: -1.5vw;
    height: 3vw;
    z-index: 2;
    background-color: rgba(0,0,0,0);
    pointer-events: none;
}

.ss-player-position-normal{
  position: absolute;
  margin-left: -1.5vw;
  margin-top: -1.5vw;
  width: 3vw;
  height: 3vw;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url('../images/CoOpIcon_01.svg');
  pointer-events: none;
}

.ss-player-position-lowhealth1{
  position: absolute;
  margin-left: -1.5vw;
  margin-top: -1.5vw;
  width: 3vw;
  height: 3vw;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url('../images/CoOpIcon_03.svg');
  pointer-events: none;
  opacity: 1;
  z-index: 3;
}

.ss-player-position-lowhealth2{
  z-index: 4;
  width: 3vw;
  height: 3vw;
  background-repeat: no-repeat;
  animation: sstakedmg 2.25s 1;
  -webkit-animation-direction: alternate;
  background-size: contain;
  background-image: url('../images/CoOpIcon_02.svg');
  pointer-events: none;
  opacity: 0;
}

/*
@-webkit-keyframes sslowhealth1{
  0%{
    opacity: 1;
  }
  100%{
    opacity: 0;
  }
}*/

@-webkit-keyframes sstakedmg{
  0%{
    opacity: 0;
  }
  25%{
    opacity: 1;
  }
  50%{
    opacity: 0;
  }
  75%{
    opacity: 1;
  }
  100%{
    opacity: 0;
  }
}

.ss-player-position-dead{
  width: 3vw;
  height: 3vw;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url('../images/CoOpIcon_04.svg');
  pointer-events: none;
}

.modal-dynamic {
  width: 80vw;
}

.modal-title {
  text-align: left;
}
.modal-sm {
  width: 25vw;
}

.modal {
  padding-top: 10%;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}

.modal-header {
  border-bottom: none !important;
}

.modal-footer {
  border-top: none !important;
}

.modal-footer small {
  display: block;
  margin-top: 1vw;
  margin-bottom: -1vw;
  text-transform: none;
  font: 1vw ForgottenFuturist;
}

.modal-dialog {
  font: 2vw ForgottenFuturist-Bold;
  text-shadow:
     -1px -1px 0 rgba(13,13,13,0.8),
      1px -1px 0 rgba(13,13,13,0.8),
      -1px 1px 0 rgba(13,13,13,0.8),
       1px 1px 0 rgba(13,13,13,0.8);
    color: rgba(255, 255, 255, 0.8);
  -webkit-filter: none;
  filter: none;
}

.modal-content {
  background: rgba(13,13,13,0.7);
  border: 2px solid rgba(51, 51,51, 0.3);
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  border-radius: 0px !important;

}

.modal-title{
  font: 2vw ForgottenFuturist-Bold;
}

.modal-content-patchnotes{
  height: 35vw;
}

#errorModal {
  z-index: 9999999;
}

.modal-body {
  text-transform: none;
  font: 1.5vw ForgottenFuturist;
}

.btn-primary{
    height: 2vw;
    width: 2vw;
    font-size: 1vw;
    line-height: 1vw;
    /* text-shadow: 1.25px 1.25px rgba(0,0,0,0.5); */
}

.modal-body-quit p {
    color: white;
    /* text-shadow: 1px 1px rgba(0,0,0,0.5); */
    font: 1.7vw ForgottenFuturist;
    text-align: center
}

.modal-content-quit h4 {
    color: white;
    /* text-shadow: 1.25px 1.25px rgba(0,0,0,0.5); */
    font: 28px ForgottenFuturist-Bold;
    text-align: center
}

.btn-survey-close{
  float: right;
  display: inline;
  margin-top: -1.5vw;
  background-color: rgb(227,0,5);
  color: white;
  text-transform: uppercase;
  font-weight: bold;
}

#chat-box{
  position: absolute;
  top: 2vw;
  right: 2vw;
  width: 25vw;
  height: 15vw;
  font: 1vw ForgottenFuturist;
  color: white;
  pointer-events: none;
}

#chat-display{
  width: 100%;
  height: 10vw;
  margin-bottom: 0.5vw;
  background-color: rgba(13,13,13,0.3);
  overflow-y: auto;
  padding: .5vw;
}

#chat-input-container{
  width: 100%;
  height: 2.8vw;
  font: 1.5vw ForgottenFuturist;
  color: white;
  border: none;

}

#chat-input{
  display: inline;
  width: 100%;
  float: right;
  height: 2.8vw;
  font: 1.5vw ForgottenFuturist;
  color: white;
  border: none;
  position: absolute;
  left: 0;
  padding-left: 7.6vw;
  background-color: rgba(13,13,13,0.5);
}

#chat-label{
  display: inline;
  position: absolute;
  left: 0;
  z-index: 999;
  margin-top: 0.5vw;
  margin-left: 0.5vw;
  margin-right: 0.5vw;
  color: white;
}

.chat-msg-team{
  color: rgba(0, 200, 250, 1);
}

.chat-msg-public{
  color: rgba(220, 220, 220, 1);
}

#location-container {
  width: 40vw;
  position: absolute;
  height: 13%;
  top: 10%;
  left: 50%;
  transform: translateX(-50%);
}

.location-entry {
  width: 100%;
  height: 100%;
  text-align: center;
  font: 1.5vw ForgottenFuturist;
  color: rgba(255, 255, 255, 0.8);
  -webkit-animation: show-location 4s 1;
  pointer-events: none;
}


#compass-container {
  width: 25.9vw;
  height: 4vw;
  position: absolute;
  overflow: hidden;
  left: 50%;
  transform: translateX(-50%);
  top: 2%;
  pointer-events: none;

}

#compass-image {
  position: absolute;
  background-image: url("../images/compass.png");
  width: 540%;
  height: 100%;
  background-size: contain;
  background-repeat: no-repeat;
  margin-top: -1%;
  opacity: .75;
  pointer-events: none;
}

#compass-teammember {
  width: 15%;
  height: 70%;
  background-image: url("../images/CoOpIcon_01.svg");
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  left: 0;
  opacity: 1;
  overflow: visible;
}

#compass-debug {
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
}

#compass-teammember-dist{
  text-align: center;
  margin: 0 0 0 0;
  padding: 0 0 0 0;
  font: 1.25vw ForgottenFuturist-Bold;
  width: 2.75vw;
  display: block;
  z-index: 9999;
  color: white;
  color: rgba(255, 255, 255, 0.8);
  margin-top: 2.75vw;
}

#compass-objective {
  width: 15%;
  height: 70%;
  background-image: url("../images/ObjectiveIcon.svg");
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  left: 0;
  opacity: 1;
  overflow: visible;
}

#compass-objective-dist{
  text-align: center;
  margin: 0 0 0 0;
  padding: 0 0 0 0;
  font: 1.25vw ForgottenFuturist-Bold;
  width: 2.75vw;
  display: block;
  z-index: 9999;
  color: white;
  color: rgba(255, 192, 64, 0.8);
  margin-top: 2.75vw;
}

.settings-item{
  margin-bottom: 0.5vw;
}

.option-footer{
  font: 1.5vw ForgottenFuturist-Bold;
  color: rgba(255, 255, 255, 0.7);
  width: 100%;
  color: white;
  margin-top: 1.75vw;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding-left: 17.5vw;
  padding-right: 10vw;
}

.option-footer span{
  display: inline-block;
  text-align: center;
  padding: .3vw;
  background-color: rgba(255,255,255,0.1);
}

.option-footer span:hover{
  background-color: rgba(204,0,0,0.5);
}

.settings-picker-value{
  font: 1.5vw ForgottenFuturist;
  color: rgba(255, 255, 255, 0.7);
  display: inline-block;
  width: 80%;
  pointer-events: all;
  text-align: center;
  text-transform: none;
}

.settings-picker-container {
  width: 12vw;
  float: right;
  margin-right: 0.8vw;
  height: 1.6vw;
  display: inline-flex;
  justify-content: space-around;
}

.settings-picker-button{
  width: 10%;
  color: rgba(255, 255, 255, 0.7);
  text-align: center;
  font-size: 1.2vw;
  pointer-events: all;
}

.settings-picker-button:hover{
  color: rgba(227,0,5,0.7);
}

.option-item span{
  font: 1.5vw ForgottenFuturist;
}

#challenge-container ul{
  list-style-type: none;
}

#challenge-container{
  pointer-events: none;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 55%;
  padding-left: 2.5vw;
  margin-left: auto;
  margin-right: auto;
  justify-content: space-around;
  overflow: visible;
  opacity: 0.8;
  -webkit-transition: all 0.75s ease-in-out;
  text-align: left;
}

.challenge-pending{
  color: white;
}

#challenge-container ul li.challenge-progress p,
#challenge-container ul li.challenge-progress h1{
  color: white;
  text-decoration-line: overline;
  -webkit-animation: challenge-progress-anim 0.75s ease-in-out;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-fill-mode:forwards;
  /*-webkit-animation-fill-mode:forwards;*/
}

#challenge-container ul li.challenge-complete p,
#challenge-container ul li.challenge-complete h1{
  color: rgba(175,175,175,0.9);
  -webkit-animation: challenge-complete-anim 0.75s ease-in-out;
  -webkit-animation-iteration-count: 1;
  /*-webkit-animation-fill-mode:forwards;*/
}

.challenge-complete{
  color: rgba(175,175,175,0.9);
}

@-webkit-keyframes challenge-complete-anim {
    0% {
      color: white;
      transform: scale(1);
      text-shadow: none;
    }
    50% {
      transform: scale(1.05);
      color: white;
      text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #228DFF, 0 0 70px #228DFF, 0 0 80px #228DFF, 0 0 100px #228DFF, 0 0 150px #228DFF;
    }
    100% {
      color: rgba(175,175,175,0.9);
      transform: scale(1);
      text-shadow: none;
    }
}

@-webkit-keyframes challenge-progress-anim {
    0% {
      color: white;
      transform: scale(1);
      text-shadow: none;
    }
    50% {
      transform: scale(1.05);
      color: white;
      text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #228DFF, 0 0 70px #228DFF, 0 0 80px #228DFF, 0 0 100px #228DFF, 0 0 150px #228DFF;
    }
    100% {
      color: white;
      transform: scale(1);
      text-shadow: none;
    }
}

#challenge-container p {
  font: 1.25vw ForgottenFuturist;
  color: white;
}

#challenge-container h1 {
  font: 1.75vw ForgottenFuturist-Bold;
  margin: 0 0 0 0;
  color: white;
}

#objective-container{
  position: absolute;
  pointer-events: none;
  top: 40%;
  right: 1%;
  height: 12vw;
  width: 17vw;
  overflow: hidden;
  padding: 0.25vw;
  opacity: 0.8;
  -webkit-transition: all 0.75s ease-in-out;
}

#challenge-container.obj-hidden,
#objective-container.obj-hidden{
  opacity: 0;
    -webkit-transition: all 0.75s ease-in-out;
}

#objective-container h1 {
  font: 2vw ForgottenFuturist-Bold;
  color: white;
  margin-top: 0;
  margin-bottom: 0.1vw;
}

#objective-container p {
  font: 1.15vw ForgottenFuturist;
  color: white;
}

.perk-icon {
  width: 2vw;
  height: 2vw;
}

.airdrop-icon {
  width: 3vw;
  height: 3vw;
}

.perk-data{
  margin-bottom: 0.75vw;
}

.perk-data li span {
  font-size: 1.25vw;
  margin-left: 0.5vw;
  margin-bottom: 0.5vw;
  line-height: 1vw;
}

.func-icon-pause{
  width: 0.9vw;
  height: 0.9vw;
  margin: 0;
  padding: 0;
  background-size: cover;
  background-image: url("../../images/funcsymbol.svg");
  background-repeat: none;
  display: inline-block;
}

#image-repo{

}

.control-defaults {
  text-align: center;
  padding-top: 0.4vw;
  width: 100%;
  float: right;
}

.control-defaults:hover {
  color: rgba(227,0,5,0.7);
}

#toast-container{
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -webkit-user-select: none;
  z-index: 99999;
  width: 26vw;
  height: 15vw;
  display: flex;
  flex-direction: column-reverse;
  flex-shrink: 0;
  order: 1;
  overflow: visible;
  pointer-events: none;
  /* border: 1px solid blue; */
}

.toast-object-container{
  width: 30vw;
  height: 2vw;
  /*min-height: 4vw;
  max-height: 4.5vw;
  background: rgba(13,13,13,0.5);
  border: 2px solid rgba(204,0,0,1);*/
  margin-bottom: 1vw;
  margin-left: 1vw;
  padding: .2vw;
  flex-shrink: 0;
  flex-grow: 0;
  display: inline-flex;
  overflow:hidden;
  /* border: 1px solid yellow; */
}

.toast-object-text-container{
  width: 100%;
  /*margin-left: 0.5vw;*/
  height: 100%;
  display: inline-block;
  /*margin-top: 1vw;*/
}

.toast-object-left-image{
  height: 6vw;
  width: 8vw;
  margin-left: 0.5vw;
  margin-top: 0.2vw;
  background-image: none;
  background-repeat: no-repeat;
  background-size:contain;
  display: inline-block;
}
.toast-object-text-container h1{
  width: 100%;
  color: rgba(255, 255, 255, 0.7);
  font: 1vw ForgottenFuturist-Italic;
  text-transform: uppercase;
  /*margin-top: 0.2vw !important;
  margin-bottom: 0.1vw !important;*/
  -webkit-margin-before:0;
  -webkit-margin-after:0;
  -webkit-margin-start:0;
  -webkit-margin-end:0;
  display: block;
}

.toast-object-text-container span{
  font: .7vw ForgottenFuturist;
  margin-top: 0.1vw;
  display: inline-block;
  color: white;
}

.toast-enter{
    -webkit-animation: toast_enter 0.5s ease-in;
    -webkit-animation-iteration-count: 1;
}

.toast-exit{
    -webkit-animation: toast_exit 0.75s ease-out;
    -webkit-animation-iteration-count: 1;
    -webkit-transform: translateX(-200%);
}

@-webkit-keyframes toast_enter {
  0% {
    -webkit-transform: translateX(-200%);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0%);
    opacity: 1;
  }
}

@-webkit-keyframes toast_exit {
  0% {
    -webkit-transform: translateX(0%);
  }
  100% {
    -webkit-transform: translateX(-200%);
  }
}

#reportPlayer-container{
  position: absolute;
}

.dropdown-title-report{
  margin-left: 0;
  position: relative;
  display: inline-block;
}

.report-dropdown{
    position: relative;

}

.report-body-label {
  font: 1.5vw ForgottenFuturist;
  margin-right: 1vw;
}

.report-section{
  margin-top: 2vw;
}

.report-section textarea{
  margin-top: 0.5vw;
  width: 100%;
  height: 10vw;
  background-color: rgba(25,25,25,0.5);
}

.report-dropdown,
.dropdown-toggle-report,
.dropdown-menu-report-player,
.dropdown-menu-report-player{
  width: 12vw;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.report-dropdown{
  position: absolute;
  left: 8vw;
}

.btn-default {
    background-color: rgba(227,0,5,0.7);
    color: rgba(255, 255, 255, 0.8);
    text-transform: none;
    font: 1.25vw ForgottenFuturist;
    border: none;
    border-radius: 0;
}

.btn-default.disabled {
  color: darkgrey;
}

.btn-default:disabled {
  color: white;
  background-color: rgba(75,75,75,0.9);
  opacity: 0.25;
}

.report-error{
  font: 1vw ForgottenFuturist;
  color: rgba(227,0,5,0.7);
  text-align: center;
}

.report-text-length{
  text-align: right;
  font: 1vw ForgottenFuturist;
}

.report-avail-helper{
  font: 0.8vw ForgottenFuturist;
  color: white;
  padding-left: 0.2vw;
  position: absolute;
  left: 0.2vw;
  top: 16.25vw;
}

#challenge-toast-container{
  position: absolute;
  top: 2%;
  right: 0%;
  width: 28vw;
  height: 20vw;

}

.challenge-toast{
  -webkit-transition: all 0.2s ease-in-out;
  position: relative;
  margin-top: 0.5vw;
  margin-bottom: 0.5vw;
  display: block;
  min-height: 4.15vw;
  max-height: 5vw;
  width: 27vw;
  background-color: rgba(50,50,50,0);
  font-family: ForgottenFuturist;

}

.challenge-toast-content-group{
}

.challenge-toast.update .challenge-toast-content-group,
.challenge-toast.complete .challenge-toast-content-group{
    opacity: 1;
    -webkit-animation: challenge-toast-anim 4.5s ease-in-out;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-fill-mode:forwards;
}

.static-incomplete{
  background-color: rgba(150,150,150,0.25);
}

.challenge-toast.static-complete .challenge-toast-content-group,
.challenge-toast.complete .challenge-toast-content-group{
  background-color: rgba(182, 255, 0,0.25);
}



.challenge-toast.update .challenge-toast-content-group{
  background-color: rgba(50,50,50,0.25);
}


.challenge-toast.complete{

}

.challenge-strip {
  position: absolute;
  left: -0.5vw;
  display: inline-block;
  height: 100%;
  width: 0.5vw;
}

.challenge-toast.update .challenge-strip {
  background-color: rgba(255, 255, 255, 0.75);
  -webkit-animation: challenge-toast-strip-update-anim 4.5s ease-in-out;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-fill-mode:forwards;
}
.challenge-toast.complete .challenge-strip {
  background-color: rgba(28, 170, 10, 0.75);
  -webkit-animation: challenge-toast-strip-complete-anim 4.5s ease-in-out;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-fill-mode:forwards;
  /*
  -webkit-animation-direction: alternate;
  */
}

.challenge-toast img{
  /*
  display: inline;
  width: 4vw;
  height: 4vw;
  vertical-align: top;
  padding: 0.2vw;
  margin-left: 0.2vw;
  margin-top: 0.75vw;
  margin-right: 0.5vw;
  */
  position: absolute;
  left: 0.5vw;
  height: 3.5vw;
  width: 3.5vw;
  display: inline-block;
  top: 50%;
  transform: translateY(-50%);
  margin-left: 0.2vw;
}


.challenge-toast.complete img{
  opacity: 0.5;
}

.challenge-toast-content {
  display: inline-block;
  padding: 0;
  padding-right: 0.1vw;
  padding-top: 0.2vw;
  margin: 0;
  color: white;
  min-height: 4.15vw;
  max-height: 5vw;
  width: 20vw;
  overflow: hidden;
  margin-left: 5vw;
}

.challenge-toast h1{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  display: inline-block;
  margin: 0;
  padding: 0;
  padding-right: 0.35vw;
  width: 17vw;
  font: 1.4vw ForgottenFuturist-Bold;
}

.challenge-toast span{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  display: inline-block;
  font: 1.4vw ForgottenFuturist-Bold;
  right: 1vw;
}

.challenge-toast.static-complete span,
.challenge-toast.complete span{
  opacity: 0;
}

.challenge-toast i{
  position: absolute;
  right: 1vw;
  text-align: right;
  top: 50%;
  transform: translateY(-50%);
  font-size: 3vw;
  color: #B6FF00;
  opacity: 0;
}

.challenge-toast.static-complete i,
.challenge-toast.complete i{
  opacity: 1;
  -webkit-animation: challenge-toast-check-complete-anim 0.5s ease-in-out;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;

}

.challenge-toast p{
  display: block;
  margin: 0;
  padding: 0;
  font: 1vw ForgottenFuturist;
}

@-webkit-keyframes challenge-toast-strip-complete-anim {
  0% {
    box-shadow: 0 0 2px #d8fe7b,
                0 0 5px #d8fe7b,
                0 0 8px #d8fe7b,
                0 0 11px #B6FF00,
                0 0 14px #B6FF00,
                0 0 17px #B6FF00,
                0 0 20px #B6FF00,
                0 0 23px #B6FF00;
    background-color: #B6FF00;
    left: -0.5vw;
    -webkit-filter: drop-shadow(-10px 0px 20px #B6FF00);
    opacity: 1;
  }

  8% {
    box-shadow: 0 0 2px #d8fe7b,
                0 0 5px #d8fe7b,
                0 0 8px #d8fe7b,
                0 0 13px #B6FF00,
                0 0 18px #B6FF00,
                0 0 23px #B6FF00,
                0 0 28px #B6FF00,
                0 0 35px #B6FF00;
    background-color: #d8fe7b;
    left: 26.5vw;
    -webkit-filter: none;
    opacity: 1;
  }

  10% {
    box-shadow: 0 0 2px #d8fe7b,
                0 0 5px #d8fe7b,
                0 0 8px #d8fe7b,
                0 0 11px #B6FF00,
                0 0 14px #B6FF00,
                0 0 17px #B6FF00,
                0 0 20px #B6FF00,
                0 0 23px #B6FF00;
    background-color: #B6FF00;
    left: 26.5vw;
    -webkit-filter: none;
  }

  15% { opacity: 0; left: 26.5vw;}


  100% {
    opacity: 0; left: 26.5vw;
  }
}

@-webkit-keyframes challenge-toast-strip-update-anim {
  0% {
    box-shadow: 0 0 2px #FFFFFF,
                0 0 5px #FFFFFF,
                0 0 8px #FFFFFF,
                0 0 11px #FFFFFF,
                0 0 14px #FFFFFF,
                0 0 17px #FFFFFF,
                0 0 20px #FFFFFF,
                0 0 23px #FFFFFF;
    background-color: #FFFFFF;
    left: -0.5vw;
    -webkit-filter: drop-shadow(-10px 0px 20px #FFFFFF);
    opacity: 1;
  }

  8% {
    box-shadow: 0 0 2px #FFFFFF,
                0 0 5px #FFFFFF,
                0 0 8px #FFFFFF,
                0 0 13px #FFFFFF,
                0 0 18px #FFFFFF,
                0 0 23px #FFFFFF,
                0 0 28px #FFFFFF,
                0 0 35px #FFFFFF;
    background-color: #FFFFFF;
    left: 26.5vw;
    -webkit-filter: none;
    opacity: 1;
  }

  10% {
    box-shadow: 0 0 2px #FFFFFF,
                0 0 5px #FFFFFF,
                0 0 8px #FFFFFF,
                0 0 11px #FFFFFF,
                0 0 14px #FFFFFF,
                0 0 17px #FFFFFF,
                0 0 20px #FFFFFF,
                0 0 23px #FFFFFF;
    background-color: #FFFFFF;
    left: 26.5vw;
    -webkit-filter: none;
  }

  15% { opacity: 0; left: 26.5vw;}


  100% {
    opacity: 0; left: 26.5vw;
  }
}

@-webkit-keyframes challenge-toast-check-complete-anim {
  from {
    color: #B6FF00;
  }
  to {
    color: #d8fe7b;
  }
}

@-webkit-keyframes challenge-toast-anim {
    0% {
      opacity: 0.1;
      transform: scaleY(1);
    }
    10% {
      opacity: 1;
      transform: scaleY(1);
    }
    90% {
      opacity: 1;
      transform: scaleY(1);
    }
    100% {
      opacity: 0;
      transform: scaleY(0);
    }
}

.watermark {
  width: 7vw;
  height: 7vw;
  opacity: 0.5;
  background-size: contain;
  background-repeat: no-repeat;
  pointer-events: none;
  position: absolute;
  bottom: 0vw;
  right: 0vw;
}

.watermark.wip {
  background-image: url('../../images/workinprogress.png');
}

.watermark.placeholder {
  background-image: url('../../images/placeholder.png');
}

.base-culling-card-container {
  background-repeat: no-repeat;
  background-size: cover;
}
