@font-face {
    font-family: Roboto-Black;
    src: local(Roboto-Black), url('../../fonts/Roboto-Black.ttf') format('opentype');
}

@font-face {
    font-family: Roboto-Regular;
    src: local(Roboto-Regular), url('../../fonts/Roboto-Regular.ttf') format('opentype');
}
.navbar {
    /*background: rgba(1, 86, 94, 0.95);*/
    background: rgba(0, 104, 67, 0.95);
    box-shadow: 2px 2px 1px #888888;
}

div  {
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
}

.modal-tooltips-container{
    position: absolute;
    width: 100%;
    height: 42%;
    bottom: 24px;
}

.modal-tooltips{    
    width: 80%;
    height: 100%;
    margin: auto auto auto auto;
    padding: 10px 10px 10px 10px;
    background-color: rgba(1,1,1,0.5);
    border-radius: 25px;
    border: 2px solid #01565E;
}

.tooltips-nav {
    color: white;
    text-shadow: 1.25px 1.25px black;
    font: 72px Roboto-Black;
    position: relative;
    top: 49%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    -webkit-transition: font 0.1s ease-in-out;
}

.tooltips-nav:hover {
    font: 84px Roboto-Black;
    -webkit-transition: font 0.1s ease-in-out;
}

.tooltips-left{
    text-align: center;
    height: 100%;
}

#tooltips ul{
    list-style-type: none;
}
.tooltips-content{
    height: 100%; 
    overflow: hidden;
    color: white;
    font: 24px Roboto-Black;
    list-style-type: none;
    background-image: url("../images/tip1.png");
    background-size:   contain;
    background-repeat: no-repeat;
    background-position: center center;
}

.tooltips-right{
    height: 100%;
}

.menuItem {
    opacity: 0.65;
    filter: alpha(opacity=75);
    -webkit-transition: all 0.3s ease-in-out;
    }	

.menuItem:hover {
    opacity: 1;
    filter: alpha(opacity=100);
    -webkit-transition: all 0.3s ease-in-out;
    }

.settings span {
    text-align: center;
    text-shadow: 1.25px 1.25px black;
}

.settings {
    /*opacity: 0.5;*/
    color: #FF8939;
    -webkit-transition: all 0.3s ease-in-out;
}

.settings:hover {
    opacity: 0.5;
    color: #C55000;
    -webkit-transition: all 0.3s ease-in-out;
}

.settings:active {
    opacity: 1.0;
    color: #FF8939;
    -webkit-transition: all 0.1s ease-in-out;
}

.playerinfo {
    opacity: 1;
}

.playinfo img {
    position: relative;
}
.playerinfo span {
    position: relative;
    color: #4BC097;
    font: 14px Roboto-Black;
    text-shadow: 1.25px 1.25px black;
}

.playerstats b {
    color: #4BC097;
    font: 14px Roboto-Black;
}
.playerstats {
    position: relative;
    display: inline;
    padding-left:15px;
    color: #FF6700;
    font: 14px Roboto-Regular;
}

.playername {
    font: 24px Roboto-Black;
    color: #FF6700;
    text-shadow: 1.25px 1.25px black;
    position: absolute;
    left: 80px;
    top: 5px;
}

.mainmenu {
    position: relative;
    margin-top: 10%;
    margin-right: 100px;
    padding-left: 5%;
    padding-right: 5%;
    width: auto;
    text-align: center;
    height: auto;
    font: 48px Roboto-Black;
    text-shadow: 1.25px 1.25px rgba(0,0,0,0.5);
    color: #FF6700;
    border-radius: 25px;
    line-height: 100px;
    background: rgba(1, 86, 94, 0.95);
    box-shadow: 10px 10px 5px rgba(0,0,0,0.5);
}


.mainmenu span {
    opacity: 0.6;
    
    /*padding-left: 0;*/
    -webkit-transition: all 0.3s ease-in;
}

.mainmenu span:hover {
    opacity: 1.0;
    /*padding-left: 5px;*/
    -webkit-transition: all 0.3s ease-in
}

.right {
    float: right;
}

body {
    background: rgba(0,0,0,0);
    overflow: hidden;
}

.root {
    width:100%;
}

.modal-content-quit{
    background: rgba(1, 110, 120, 0.75);
    opacity: 1;
    width: 400px;
}

.btn-default {
    box-shadow: 2px 2px 1px rgba(0,0,0,0.35);
}
.btn-default-quit {
    background-color: #2697A1;
    border-color: #48ABB4;
    color: #01565E;
    font: 22px Roboto-Regular;
}

.btn-quit {
    background-color: #FF8939;
    border-color: #FF6700;
    color: white;
}

.btn-cancel-quit {
    background-color: #2697A1;
    border-color: #48ABB4;
    color: #01565E;
}

.btn-earlystart-true {
    background-color: green;
    color: white;
    font: 22px Roboto-Regular;
    border-color: #48ABB4;
}

.btn-earlystart-false {
    background-color: red;
    color: white;
    font: 22px Roboto-Regular;
    border-color: #48ABB4;
}

.modal-body-quit p {
    color: #FF6700;
    text-shadow: 1px 1px rgba(0,0,0,0.5);
    font: 22px Roboto-Regular;
}

.modal-content-quit h4 {
    color: #FF6700;
    text-shadow: 1.25px 1.25px rgba(0,0,0,0.5);
    font: 28px Roboto-Black;
}

span.glyphicon-cog {
    font-size: 3em;
    padding-right: 5px;
    padding-top: 2px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 24px;
    background: rgba(1,86,94,0.45);
    font: 10px Roboto-Regular;
    color: white;
    text-align: right;
    margin-left: 0px;
}

.footer-status {
    padding-top: 6px;
}
.footerNews {
    height: 40px;
    overflow: hidden;
    font: 14px Roboto-Regular;
    float: left;
    list-style-type: none;
    text-align: left;
    margin-left: -5px;
    padding-left: 0px;
    margin-top: -15px;
}

.footerNews li {
    height: 40px;
    list-style-type: none;
}
.playerMatchMakingEntry {
    text-align: center;
    line-height: 1em;
    width: 25%;
    text-shadow: 0px 0px 0px 0;
    font: 14px Roboto-Regular;
        margin-left:auto;
    margin-right:auto;
}

.page {
    width: 100%;
    height: 100%;
}

.playerMatchMakingEntry img {
    box-shadow: 1px 1px 1px rgba(0,0,0,0.5);
    border-style: solid;
    border-width:1px;
    margin-bottom:5px;
    width: 48px;
    margin-left:5px;
    margin-right:5px;
}

.playerMatchMakingHeader span {
    text-shadow: 1.25px 1.25px rgba(0,0,0,0.5);
    text-align: center;
    font: 18px Roboto-Black;
    color: white;
}
.playerMatchMakingBody {
    margin-top: 10px;
    width:inherit;
}

h4.matchMakingTitle {
    text-shadow: 1.25px 1.25px rgba(0,0,0,0.5);
    text-align: center;
    font: 28px Roboto-Black;
    color: #FF6700;
}

.modal-content-matchmaking{
    background: rgba(1, 110, 120, 0.95);
    opacity: 1;
}

.modal-dialog-matchmaking{
    width:50%;
} 

.votingTooltip{
    color: white;
    font: 11px Roboto-Regular;
    text-align: left;
    text-shadow: 1.25px 1.25px rgba(0,0,0,0.5);
    padding-top:20px;
    margin-bottom: 0px;
    padding-bottom: 0px;
}

.modal {
}
.vertical-alignment-helper {
    display:table;
    height: 100%;
    width: 100%;
}
.vertical-align-center {
    /* To center vertically */
    display: table-cell;
}
.modal-content {
    /* Bootstrap sets the size of the modal in the modal-dialog class, we need to inherit it */
    width:inherit;
    height:inherit;
    /* To center horizontally */
    margin: 5% auto;
}

.glyphicon.spinning {
    animation: spin 1s infinite linear;
    -webkit-animation: spin2 1s infinite linear;
}

@keyframes spin {
    from { transform: scale(1) rotate(0deg);}
    to { transform: scale(1) rotate(360deg);}
}

@-webkit-keyframes spin2 {
    from { -webkit-transform: rotate(0deg);}
    to { -webkit-transform: rotate(360deg);}
}