@font-face {
    font-family: Roboto-Black;
    src: local(Roboto-Black), url('Roboto-Black.ttf') format('opentype');
}

@font-face {
    font-family: Roboto-Regular;
    src: local(Roboto-Regular), url('Roboto-Regular.ttf') format('opentype');
}

.top-center {
  top: 0;
  right: 0;
  width: 100%;
}

.top-left{
	top: 12px;
	left: 12px;
}

.top-right{
	top: 12px;
	right: 12px;
}

.bottom-right{
	bottom: 12px;
	right: 12px;
}

.tooltip-default{
	width: 500px;
	min-height: 125px;
	padding-left: 140px;
	opacity: 0;
}

.tooltip-container{
	position: fixed;
	z-index: 999999;
}

.tooltip-title-default {
	-ms-word-wrap: break-word;
	word-wrap: break-word;
	font: 26px Roboto-Black;
}

.tooltip-message-default {
	-ms-word-wrap: break-word;
	word-wrap: break-word;
	font: 22px Roboto-Regular;
}

.tooltip-default{
	background-position: 0px center;
	background-repeat: no-repeat;
}

#gameTooltip > .tooltip-default{
	background-image: url("settings.png");
}

.well{
	background-color: rgba(13,13,13,0.5);
	border-color: rgb(227,0,5);
	color: white;
}

#gameTooltip > .well{
	background-color: rgba(13,13,13,0.5);
	border-color: rgb(227,0,5);
	color: white;
	-webkit-text-stroke: 1px rgba(0, 0, 0, 0.1);
}
