.vertical-list-menu{
  overflow-y: auto;
  height: 73%;
  font-family: Sucrose-Regular;
  color: white;
  width: 32%;
  /*padding-left: 2.5vw;*/
}

.vertical-list-menu ul{
  overflow: hidden;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  font: 1.5vw Sucrose-Regular;
  color: rgba(255,255,255,1);

}

.vertical-list-menu li{
  height: auto;
  transition: text-indent 0.15s ease-in-out;
  margin: 0;
  padding: 0;
  pointer-events: all;
  white-space: nowrap;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;

}

/*
.vertical-list-menu li:focus,
.vertical-list-menu li:active{
  outline: 2px solid rgba(204,0,0,1);
  background-color: rgba(51,51,51,0.5);

  font-family: ForgottenFuturist-Bold;
  text-indent: 1vw;
}
*/
.vertical-list-menu-item {
  width: 100%;
  height: auto;
  /* box-sizing: border-box; */
  padding-top: .5vw;
  margin: 0;
  /* display: inline-flex;
  flex-direction: row;
  align-items: center; */
  pointer-events: all;
  transition: padding 0.15s ease-in-out;
}

.vertical-list-menu li:focus .vertical-list-menu-item,
.vertical-list-menu li:hover .vertical-list-menu-item{
  /* border: 2px solid rgba(204,0,0,1); */
  color: rgba(204,0,0,1);
  padding-left: 0.5vw;
  font: 1.5vw SucroseSlant-BoldTwo;
  opacity: 1;
  background-image: linear-gradient(rgba(204, 0, 0, 1), rgba(204, 0, 0, 1)), linear-gradient(rgba(204, 0, 0, 0.0), rgba(204, 0, 0, 0.0));
  background-repeat: no-repeat;
  background-size: 0.3vw 100% ,  100%;
}

.vertical-list-menu ul li:focus .vertical-list-menu-item h2 {
  font: 1.5vw Sucrose-BoldTwo;
}

/*
.vertical-list-menu li:focus,
.vertical-list-menu li:active{
  outline: none;
  background-color: rgba(51,51,51,0.0);
  text-indent: 0vw;
}
*/
.vertical-list-menu-item.equipped {
  background-image: linear-gradient(rgba(204, 0, 0, 1), rgba(204, 0, 0, 1)), linear-gradient(to right, rgba(204, 0, 0, 0.3), rgba(204, 0, 0, 0.0));
  background-repeat: no-repeat;
  background-size: 0.3vw 100% ,  100%;
  /* background: linear-gradient(to right, rgba(204, 0, 0, 1) 1%, rgba(204, 0, 0, 0.3) 1.1%, rgba(204, 0, 0, 0.3) 50%, rgba(204, 0, 0, 0.0) 75%, rgba(204, 0, 0, 0.0) 100%) !important; */
  /* background-color: rgba(220,220,220,.3) !important; */
  text-indent: .5vw;
  text-shadow: 1px 1px 10px rgba(13,13,13,1);
}
