#queue-widget {
  position: absolute;
  width: 20%;
  height: 10%;
  color: white;
  left: 40%;
  top: 5%;
  /*transform: translateX(-50%);*/
  z-index: 999;
  opacity: 1;
  /*-webkit-animation: queue-drop-in 0.15s ease-out;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-fill-mode:forwards;*/
  pointer-events: none;
}

#queue-widget span {
  margin: 0;
  padding: 0;
}

.queue-widget-top-container {
  width: 100%;
  height: 60%;
  /* background-color: rgba(155,155,155,0.75); */
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-image: url("../images/modalbox.png");
  display: flex;
  flex-direction: row;
  margin-bottom: 0.3vw;
}

.queue-widget-top-container .queue-state {
  display: flex;
  width: 40%;
  height: 100%;
  text-align: center;
  flex-direction: row;
  align-items: center;
  /* background-color: rgba(205,205,205,0.75); */
}

.queue-widget-top-container .queue-state span {
  font: 1.4vw Sucrose-BoldTwo;
}

.queue-widget-top-container span {
  text-align: center;
  width: 100%;
}

.queue-widget-top-container .queue-status-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 60%;
}

.queue-widget-top-container .queue-status-container  .queue-status {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  height: 100%;
  /* border: 1px solid blue; */
}

.queue-widget-top-container .queue-status-container  .queue-status span {
  width: 100%;
  /* text-align: center; */
  font: 1.05vw Sucrose-Two;
  /* border: 1px solid lime; */
}

.queue-button-container {
  width: 100%;
  /* background-color: rgba(227,0,5,0.7); */
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-image: url("../images/modalbox_hover.png");
  height: 35%;
  display: flex;
  flex-direction: row;
  align-items: center;
  box-sizing: border-box;
  /* border: 2px solid rgba(227,0,5,0.0); */
  pointer-events: all;
  transition: all 0.15s ease-in-out;
}

.queue-button-container:focus,
.queue-button-container:hover {
  /* border: 2px solid rgba(227,0,5,1);
  background-color:  rgba(227,0,5,0.35); */
  font: 1.05vw Sucrose-BoldTwo;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-image: url("../images/modalbox_sel.png");
}

.queue-button-container span {
  width: 100%;
  text-align: center;
  font: 1.2vw Sucrose-Two;
}
/*
.queue-button-container span::before {
  font: 1.5vw CullDings;
  margin-right: 0.4vw;
  content: '\0035';
}*/

.controller-cancel-button::before{
  font: 1.5vw CullDings;
  margin-right: 0.4vw;
  content: '\0035';
}


@-webkit-keyframes queue-drop-in {
    0% { transform: translateY(-150%) translateX(-50%); opacity: 0 }
/*    80% { transform: scale(1); opacity: 1; -webkit-filter: blur(0px); }*/
    100% { transform: translateY(0%) translateX(-50%); opacity: 1}
}
