<!DOCTYPE html>
<html lang="en">
<head>
  <title>Victory</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=1920, initial-scale=1">


  <link href="../libs/coherent.css" rel="stylesheet">


  <link rel="stylesheet" href="../libs/bootstrap.min.css">


  <link href="css/scoreboard.css" rel="stylesheet"/>
</head>

<body id="body">

  <script src="../libs/coherent.js"></script>
  <script src="../libs/coherent.mock.js"></script>


  <script src="../libs/jquery-2.0.3.min.js"></script>
  <script src="../libs/bootstrap.min.js"></script>
  <script src="../libs/rivets.min.js"></script>
  <script src="../libs/underscore.js"></script>


  <script src="js/scoreboard.js"></script>

  <div class="container-scoreboard" id="scoreboard">
    <table class="table" rv-if="scoreData.bShowScoreboard">
      <thread>
        <tr class="header">
          <th style="width: 35%;">Team</th>
          <th style="width: 20%;">Kills</th>
          <th style="width: 45%;">Status</th>
        </tr>
      </thread>
         <tbody>
          <tr rv-each-player="scoreData.teams" rv-class="player.team | teamBg">
            <td><div rv-unless="player.bIsAlive" class="deadicon"></div>{ player.name }</td>
            <td>{ player.kills }</td>
            <td rv-unless="player.bIsAlive">Killed by { player.killedBy }</td>
            <td rv-if="player.bIsAlive">Alive</td>
          </tr>
      </tbody>
    </table>
    <div class="pre-match" rv-unless="scoreData.bShowScoreboard">
      INFORMATION BLACKOUT!<br>
      PLEASE TRY AGAIN LATER!
    </div>
  </div>
</body>

</html>
