@font-face {
    font-family: ForgottenFuturist-Bold;
    src: local(ForgottenFuturist-Bold), url('../../fonts/forgotten_futurist_bd.otf') format('opentype');
}

@font-face {
    font-family: ForgottenFuturist-Bold-Italic;
    src: local(ForgottenFuturist-Bold-Italic), url('../../fonts/forgotten_futurist_bd_it.otf') format('opentype');
}

@font-face {
    font-family: ForgottenFuturist;
    src: local(ForgottenFuturist), url('../../fonts/forgotten_futurist_rg.otf') format('opentype');
}

@font-face {
    font-family: ForgottenFuturist-Italic;
    src: local(ForgottenFuturist-Italic), url('../../fonts/forgotten_futurist_rg_it.otf') format('opentype');
}

html{
  width: 1900px;
  height: 100%;
  /*background-color: rgba(13,13,13,0.7);*/
  background: linear-gradient(to left, rgba(13,13,13,0) 0%, rgba(13,13,13,0.5) 10%, rgba(13,13,13,0.5) 90%, rgba(13,13,13,0) 100%);
  overflow-y: visible !important;
}


.table th, .table td {
     border-top: none !important;
     padding: 0px !important;
     line-height: 45px !important;
 }

.container-scoreboard{
  position: absolute;
  margin: 30px;
  top: 40px;
  left: 10px;
  width: 95%;
  height: 87%;
  /* background-color: rgba(13,13,13,1);
  box-shadow: 0 0 40px 90px rgba(13,13,13,1); */
}

tbody{
  margin-top: 0px;
}

.team-body::after{
  content: '';
  display: table-row;
  height: 10px;
  background-color: none;
}

.header::after{
  content: '';
  display: table-row;
  height: 86px;
}

.team-body{
  border-top: none !important;
  font: 2vw ForgottenFuturist;
  /*text-shadow: 2px 2px rgba(0,0,0,0.75); */
  max-height: 30px;
}

body{
  background-color: rgba(220,220,220,0);
  color: white;
  overflow-y: hidden;
}

.table{
  border: none !important;
  border-collapse: collapse;
  padding: 0;
  position: absolute;
  top: -20px;
}

table {
  border: none;wwwwwwwwwwwwwwwwwwwwwwwwwwwwwww
  table-layout: fixed;
}

tr{
  width: 1920px !important;
  margin: 0px;
  display: table-row;
}

th {
  color: White;
  font: 3vw ForgottenFuturist-Bold;
  text-transform: uppercase;
  /* text-shadow: 2px 2px rgba(0,0,0,0.75); */
  white-space:nowrap;
  overflow:hidden;
  text-overflow: ellipsis;
}

td {
  border-top: 0px !important;
  color: white;
  white-space:nowrap;
  overflow:hidden;
  text-overflow: ellipsis;
  }

.deadicon{
  width: 42px;
  height: 42px;
  background-image: url('../images/skull.svg');
  background-size: cover;
  background-repeat: no-repeat;
  display: inline-block;
}

.cell-dark{
  background-color: rgba(51,51,51,0.05);
  /* border-bottom: 7px solid rgba(13,13,13,0.5); */
  text-indent: 20px;
}

.cell-light{
  background-color: rgba(220,220,220,0.05);
  /* border-bottom: 7px solid rgba(13,13,13,0.5); */
  text-indent: 20px;
}

body.hidden {
  background-color: black;
}

#scoreboard.hidden {
  opacity: 0;
}

.pre-match{
  width: 100%;
  color: rgba(204, 0, 0, 1);
  font: 5vw ForgottenFuturist-Bold;
  text-transform: uppercase;
  /* text-shadow: 2px 2px rgba(0,0,0,0.75); */
  text-align: center;
  opacity: 0;
  animation: fade-prematch 1.5s linear 0s infinite alternate;
  transform: translateY(50%);
}

@-webkit-keyframes fade-prematch {
  0% { opacity: 0;}
  75% { opacity: 1;}
  100% { opacity: 1;}
}
