#ranked-menu .ranked-ffa-bg {
  background-image: url("../../images/InCustomGame.png");
  background-repeat: no-repeat;
  background-size: cover;
}

#ranked-menu .ranked-teams-bg {
  background-image: url("../../images/InCustomGame.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.custom-game-container {
  margin: 0 auto;
  height: 35vw;
  width: 90vw;
  font-family: Sucrose-Three;
  color: white;
  padding: 0;
  position: absolute;
  top: 10vw;
  flex: 0 1 auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: center;
  justify-content: center;
}

.custom-game-container h1{
  font: 2vw Sucrose-Three;
  color: rgba(255,255,255,1);
  padding: 0;
  margin: 0;
}

#custom-menu .region h2{
  font: 1.5vw Sucrose-Three;
  color: rgba(255,255,255,1);
  padding: 0 0 2vw 0;
  margin: 0;
}

.custom-game-contestants-container{
  width: 60%;
  height: 100%;
  display: flex;
  align-self: center;
  align-items: center;
  justify-content: center;
  align-content: center;
  /*padding: 0 2vw 0 0;*/
  padding: 0;
  margin: 0;
}

.player-spot{
  /*width: 80%;
  height: 100%;
  margin: .8vw;*/
  margin: 0;
  padding: 0;
  list-style-type: none;
  list-style-position: inside;
  column-count: 2;
  column-fill: auto;
  column-gap: 1vw;
}

.player-spot li, .custom-game-container .custom-game-spectators-container li{
  width: 19.5vw;
  height: 3.5vw;
  margin: 0 0 .5vw 0;
  padding: 0;
}

.empty{
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  font: 1vw Sucrose-Three;
  border: 1px solid rgba(220,220,220,.8);
  background-color: rgba(13,13,13,.5);
  color: rgba(220, 220, 220, .8);
  display: flex;
  align-items: center;
  justify-content: center;
}

.empty:before{
  content: "Empty";
}

.player-spot li:focus, .player-spot li:hover{
  outline: 2px solid rgba(204,0,0,1);
  outline-offset: -2px;
  color: rgba(255,255,255,1);
  background: rgba(13,13,13,0.8);
}
/*
.custom-game-container .custom-game-spectators-container{
  width: 20%;
  height: 100%;
  flex: 0 1 auto;
  display: flex;
  flex-direction: column;
}

.custom-game-container .custom-game-spectators-container ul{
  list-style-type: none;
  list-style-position: inside;
  padding: 0 !important;
  margin: 0;
  text-align: center;
  background-color: rgba(13,13,13,0);
  outline: 0px solid rgba(204,0,0,0);
}*/

.custom-game-container .culling-card-container{
  width: 100%;
  height: 100%;
  background-image: url("/images/culling-cards/Artboard_1.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.custom-game-container .culling-card .player-level{
  font: 2vw Sucrose-Three;
  line-height: 2vw;
}

.custom-game-container .culling-card .player-name{
  font: 1vw Sucrose-Three;
  line-height: 1vw;
}

.custom-game-container .culling-card .player-rank{
  font: .8vw Sucrose-Three;
  line-height: .8vw;
}

.custom-game-container .culling-card .player-rank:before{
  font: 1vw CullDings;
  line-height: .3vw;
  color: rgba(255,255,255,1);
  content: '\0058  ';
}

.custom-game-info-container{
  width: 30vw;
  height: 35vw;
  flex: 0 1 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-self: center;
  align-content: center;
}

.custom-game-details{
  width: 20vw;
  height: 30vw;
  flex: 0 1 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: center;
}
.custom-game-details div{
  width: 20vw;
  height: 25vw;
  flex: 0 1 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: flex-start;
  justify-content:flex-end;
}

.custom-game-options{
  width: 20vw;
  height: 10vw;
  flex: 0 1 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: flex-start;
}

.custom-game-details ul{
  width: 15vw;
  height: 5vw;
  padding: 1vw;
  margin: 1vw;
  font: 1vw Sucrose-Three;
  list-style-type: none;
  list-style-position: inside;
  background-color: rgba(13,13,13,.8);
}

.custom-game-details h3{
  font: 1.5vw Sucrose-Three;
  width: 19vw;
  color: rgba(255,255,255,1);
  padding: .5vw;
  margin: 0;
  background-color: rgba(13,13,13,.8);
}

.custom-game-info-container ul{
  width: 20vw;
  list-style-type: none;
  list-style-position: inside;
  padding: 0;
  margin: 0;
  text-align: center;
}

.custom-game-info-container ul li{
  width: 20vw;
  height: 3vw;
  margin: 0 0 .3vw 0;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-content: center;

}

.custom-game-info-container ul li div{
  width: 20vw;
  height: 3vw;
  font: 1.3vw Sucrose-Three;
  background-color: rgba(13,13,13,.5);
  color: rgba(255, 255, 255, 1);
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
  align-self: center;
}

.start{
  background-color: rgba(0,113,0,.8) !important;
}

.start-disabled{
  background-color: rgba(55,55,55,.8) !important;
}

.custom-game-info-container li:focus,
.custom-game-info-container li:active{
  border: 2px solid rgba(204,0,0,1);
  background-color: rgba(51,51,51,0.5);
  font-family: Sucrose-BoldTwo;
}

.custom-game-info-container .picker-container i {
  width: 100%;
  text-align: center;
  pointer-events: all;
  font: 1.5vw CullDings;
}

.custom-game-info-container .picker-container span{
  font: 1.5vw Sucrose-Three;
  color: rgba(255, 255, 255, 1);

}

.custom-game-info-container .game-type{
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  margin: 0 0 .3vw 0;
}

.custom-game-info-container .game-type li{
  margin: 0;
}

.casual-ffa-bg {
  height: 20vw;
  width: 10vw;
  background-image: url("../../images/InCustomGame.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.casual-teams-bg {
  background-image: url("../../images/InCustomGame.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.custom-game-code{
  position: relative;
  text-align: center;
}

.custom-game-code > .code-blackout {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  opacity: 1;
  transition: all 0.3s ease;
}

.custom-game-code > .code-content {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  opacity: 0;
  transition: all 0.3s ease;
}

.custom-game-code-container:focus .code-blackout, .custom-game-code:hover > .code-blackout {
  opacity: 0;
}

.custom-game-code-container:focus .code-content, .custom-game-code:hover > .code-content {
  opacity: 1;
}
