#main-menu-options{
  position: absolute;
  width: 50%;
  /* overflow: hidden; */
  padding: 1vw 0;
  top: 20%;
  /* border: 1px solid red; */
}

.pulse{
  font: 2vw Sucrose-Two;
  -webkit-animation: pulse-animation 2s ease-out;
  -webkit-animation-iteration-count: infinite;
}

@-webkit-keyframes pulse-animation {
    0% { opacity: 0;}
    80% { opacity: 1;}
    100% { opacity: 1.2;}
}

#main-menu-options ul li .main-menu-large-text {
  font: 5vw Sucrose-BoldTwo;
  color: rgba(255,255,255,1);
  overflow: visible;
  line-height: 4vw;
  margin-bottom: 1vw;
  border: 1px solid red;
}

#main-menu-options ul li.large-text {
  margin-bottom: 0vw;
  height:auto;
  padding: 0;
}

#main-menu-options li:focus .main-menu-large-text,
#main-menu-options li:active .main-menu-large-text {
  color: rgba(204,0,0,1);
  padding-left: 1vw;
  font: 5vw SucroseSlant-BoldThree;
  /* text-shadow: 4px 1px 0 rgba(0, 255, 255, 0.5),
              -4px -1px 0 rgba(255, 0, 0, 0.5); */
}

#main-menu-options .large-text:focus .main-menu-large-text,
#main-menu-options .large-text:active .main-menu-large-text{
  border: 0px solid rgba(204,300,0,0) !important;

}

#main-menu-options.vertical-list-menu li:focus .vertical-list-menu-item,
#main-menu-options.vertical-list-menu li:hover .vertical-list-menu-item {
  border: 2px solid rgba(204,0,0,0);
  color: rgba(204,0,0,1);
  font: 3vw SucroseSlant-BoldThree;
  opacity: 1;
  background: linear-gradient(to right, rgba(204, 0, 0, 0) 2%, rgba(204, 0, 0, 0) 100%) !important;
}

.glitchbar {
    margin: 0 0;
    width: 90%;
    height: 0;
    padding-bottom: 9.4%;
}

#main-menu-options ul{
  height: auto;
  width: 26.8vw;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin: 1vw 0;
  padding: 0;
  font: 1.8vw Sucrose-Two;
  /* border: 1px solid lime; */
  overflow: visible;
}

 #main-menu-options ul li{
  color: rgba(220,220,220,1);
  width: 26.8vw;
  margin-bottom: 0.2vw;
  height: 2.5vw;
  transition: text-indent 0.15s ease-in-out;
  padding: -0.35vw 0 0 0;
  pointer-events: all;
  white-space: nowrap;
  display: flex;
  flex-direction: row;
  align-items: center;
  /* border: 1px solid pink; */
}
