/*#perks-root-menu-options li {
  width: 60%;
  height: 7vw;
  background-color: rgba(13,13,11,0.55);
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: row;
  transition: all 0.15s ease-in-out;
}*/

#perks-root-menu-options li:focus,
#perks-root-menu-options li:hover {
  /* border: 3px solid rgba(204,0,0,1); */
  /* background: linear-gradient(to right, rgba(204, 0, 0, 1) 1.5%, rgba(13, 13, 13, .5) 1.6%, rgba(13, 13, 13, .5) 50%, rgba(13, 13, 13, .5) 100%); */
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-image: url("../../images/perkbox_sel.png");
}

#perks-root-menu-options {
  height: 100%;
  font-family: Sucrose-Two;
  color: white;
  width: 38%;
}

#perks-root-menu-options ul li.selected {
  /* background: linear-gradient(to right, rgba(204, 0, 0, 1) 1.5%, rgba(204, 0, 0, 0.3) 1.6%, rgba(204, 0, 0, 0.3) 50%, rgba(204, 0, 0, 0.0) 75%, rgba(204, 0, 0, 0.0) 100%) !important; */
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-image: url("../../images/perkbox_equip.png");
  /* background-color: rgba(100,0,0,0.8); */
  /*outline: 3px solid rgb(45,206,219);*/
}

#perks-root-menu-options ul li.selected:focus {
  /* background: linear-gradient(to right, rgba(204, 0, 0, 1) 1.5%, rgba(204, 0, 0, 0.3) 1.6%, rgba(204, 0, 0, 0.3) 50%, rgba(204, 0, 0, 0.0) 75%, rgba(204, 0, 0, 0.0) 100%) !important; */
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-image: url("../../images/perkbox_sel.png");
  /* background-color: rgba(100,0,0,0.8); */
  /*outline: 3px solid rgb(45,206,219);*/
}

#perks-root-menu-options ul {
  list-style-type: none;
  display: flex;
  /*justify-content: space-between;*/
  flex-direction: column;
  align-items: baseline;
  justify-content: space-between;
  height: 72%;
  width: 100%;
  margin: 0;
  padding: 0;
}

#perks-root-menu-options li {
  width: 94%;
  height: 7vw;
  /* background-color: rgba(13,13,13,0.5); */
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-image: url("../../images/perkbox.png");
  /* background-repeat: no-repeat;
  background-size: cover;
  background-image: url("../../images/menubg1.png"); */
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: row;
  transition: all 0.15s ease-in-out;
  margin-bottom: 3vw;
}

#perks-root-menu-options li:last-child {
  margin-bottom: 1vw;
}

#perks-root-menu-options li img {
  /* background-color: rgba(13, 13, 13, 1); */
  margin-left: .5vw;
  margin-right: 1vw;
  width: 17%;
  height: auto;
  position: relative;
  /* border: 3px solid rgba(0,0,0,1); */

}

#perks-root-menu-options li h1{
  font: 2vw SucroseSlant-BoldTwo;
  position: absolute;
  top: -2.2vw;
  color: rgba(255,255,255,1);
  margin: 0;
  padding: 0;
}

#perks-root-menu-options .perk-data{
  margin-left: 1vw;
  width: 70%;
  height: auto;
  pointer-events: none;
}

#perks-root-menu-options .empty-perk{
  text-align: center;
  width: 100%;
  font: 2vw Sucrose-Two;
  color: rgba(255,255,255,1);
  pointer-events: none;
}

.perk-data h2{
  margin: 0;
  padding: 0;
  font: 1.5vw Sucrose-BoldTwo;
}

.perk-data p{
  color: rgba(255,255,255,1);
  margin: 0;
  padding: 0;
  padding-right: 1vw;
  font: 1vw Sucrose-Two;
}

#perks-root-flex {
  padding-top: 1.6vw;
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 78%;
}

#perks-root-content {
  width: 50vw;
  height: 100%;
}

#perks-root-flex h1,
#perks-root-flex h2 {
  text-transform: uppercase;
}

.perks-list-content ul {
  list-style-type: none;
  width: 18vw;
}

.perks-list-content li {
  /* background-color: rgba(13,13,13,0.5); */
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-image: url("../../images/perkbox.png");
  white-space: nowrap;
  width: 17vw;
  height: 2.8vw;
  color: white;
  padding-left: 1vw;
  font: 1.3vw Sucrose-Two;
  margin-bottom: 0.5vw;
  vertical-align: middle;
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: row;
  pointer-events: all;
  flex-grow: 0;
  flex-shrink: 0;
  box-sizing: border-box;
}

.perks-list-content {
    position: relative;
}

.perks-list-content ul{
    overflow: visible;
    overflow-y: auto;
    height: 35vw;
    width: 42%;
    padding-left: 0.5vw;
    display: flex;
    flex-direction: column;
    padding-top: 0.5vw;
    margin-top: -0.5vw;
  }

.perks-list-content li span {
  width: 100%;
  overflow: hidden;
  /*text-transform: uppercase;*/
}

.perks-list-content li:focus,
.perks-list-content li:hover {
  /* border: 3px solid rgba(204,0,0,1); */
  /* background: linear-gradient(to right, rgba(204, 0, 0, 1) 1.5%, rgba(13, 13, 13, .5) 1.6%, rgba(13, 13, 13, .5) 50%, rgba(13, 13, 13, .5) 100%); */
  font: 1.3vw Sucrose-BoldTwo !important;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-image: url("../../images/perkbox_sel.png");
}

.perks-list-content li.equipped {
  /* background: linear-gradient(to right, rgba(204, 0, 0, 1) 1.5%, rgba(204, 0, 0, 0.3) 1.6%, rgba(204, 0, 0, 0.3) 50%, rgba(204, 0, 0, 0.0) 75%, rgba(204, 0, 0, 0.0) 100%); */
  /* background-color: rgba(100,0,0,0.8); */
  font: 1.3vw Sucrose-BoldTwo !important;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-image: url("../../images/perkbox_equip.png");
}

.perks-list-content li.equipped:focus {
  /* background-color: rgba(100,0,0,0.8); */
  /* background: linear-gradient(to right, rgba(204, 0, 0, 1) 1.5%, rgba(13, 13, 13, .5) 1.6%, rgba(13, 13, 13, .5) 50%, rgba(13, 13, 13, .5) 100%); */
  font: 1.3vw Sucrose-BoldTwo !important;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-image: url("../../images/perkbox_sel.png");
}

.category-color-tag{
  height: 100%;
  width: 2% !important;
  position: absolute;
  top: 0;
  left: 0;
  /*background-color: rgba(204,1,1,1);*/
}

.slot-category-color-tag{
  height: 100%;
  width: 2% !important;
  position: absolute;
  top: 0;
  left: 0;
  /*background-color: rgba(204,1,1,1);*/
}

.perks-root-perkpreview{
  position: absolute;
  left: 26vw;
  width: 28vw;
}

.perks-root-perkpreview img{
  width: 70%;
  margin-top: 1vw;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1vw;
  /* border: 3px solid rgba(0,0,0,1); */
}

.perks-root-perkpreview .perk-data{
  /* background-color: rgba(13,13,13,0.5); */
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-image: url("../../images/perkbox.png");
  color: white;
  padding: 1.25vw;
  padding-left: 2vw;
  padding-right: 2vw;
}

.perk-restriction-text{
  font: 1vw Sucrose-Two;
  color: white;
  padding-top: .8vw;
}

.perk-restriction-text::before{
  display: inline-block;
  font: 1.5vw CullDings;
  content: '\002C';
}

#kill-perks{
  width: 94%;
}

#kill-perks h1{
  font: 2vw Sucrose-Two;
  color: rgba(255,255,255,1);
  margin: 0;
  padding: 0 .5vw 0 0;
  display: inline;

}

#kill-perks ul {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: baseline;
  height: 75%;
  width: 100%;
  margin: 0;
  padding: 0;
}

#kill-perks li {
  width: 32%;
  height: 4vw;
  background-color: rgba(13,13,13,0.5);
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: row;
  transition: all 0.15s ease-in-out;
  margin: 0;
  padding: 0;
}

#kill-perks h2{
  margin: 0 -0.7vw;
  padding: 0;
  font: 1vw Sucrose-BoldTwo;
}

#kill-perks p{
  margin: 0 -0.7vw;
  padding: 0;
  font: 0.7vw Sucrose-Two;
}

#kill-perks span{
  font: 1vw Sucrose-Two;
}

#kill-perks li img {
  width: 40%;
  height: auto;
  position: relative;
  margin: 0 .1vw 0 .4vw;
  padding: 0;
}

#kill-perks .perk-data{
  width: 100%;
  height: auto;
}
