#play-menu .play-casual-bg {
  background-image: url("../../images/Quickplay.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

#play-menu .play-solo-bg {
  background-image: url("../../images/SoloPlay.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

#play-menu .play-duo-bg {
  background-image: url("../../images/DuoPlay.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

#play-menu .play-training-bg {
  background-image: url("../../images/Training.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

#play-menu .play-ranked-bg {
  background-image: url("../../images/Ranked.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

#play-menu .play-lightning-bg {
  background-image: url("../../images/LightningRound.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

#play-menu .play-custom-bg {
  background-image: url("../../images/custom.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

#play-menu .play-mode-disabled {
  opacity: 0.5;
}

.play-tiled-menu-options-container .player-season-container{
  width: 50%;
  height: 70%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.play-tiled-menu-options-container .top-matches-container{
  font-family: Sucrose-Two;
  height: 40%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.play-tiled-menu-options-container .top-matches-title{
  font: 2vw Sucrose-Two;
}

.play-tiled-menu-options-container .top-matches-list{
  display: flex;
  flex-direction: row;
  justify-content: center;
  list-style: none;
}

.play-tiled-menu-options-container .top-matches-list li{
  width: 4vw;
  height: 6.5vw;
  margin: .2vw;
  display: flex;
  flex-direction: column;
  justify-content:flex-start;
  align-items: center;
  border: 1px solid white;
}


.play-tiled-menu-options-container .season-rank-container{
  width: 100%;
  height: 50%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.play-tiled-menu-options-container .season-rank-background{
  width: 70%;
  height: 60%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to right, rgba(0,0,0,0),rgba(0,0,0,.8),rgba(0,0,0,0));
}

.play-tiled-menu-options-container .season-rank{
  width: 40%;
  height: 100%;
  font-size: 1.5vw;
  line-height: 3vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.play-tiled-menu-options-container .season-rank-category{
  font-size: 2.5vw;
}

.play-tiled-menu-options-container .season-rank-reset{
  font-size: .8vw;
}


.play-tiled-menu-options-container .badge-title{
  font-size: .8vw;
  margin-bottom: .2vw;
}
.play-tiled-menu-options-container .badge-score{
  font-size: 1.5vw;
}

.play-tiled-menu-options-container .season-badge-container{
  width: 50%;
  height: 160%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.play-tiled-menu-options-container .season-badge{
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.play-tiled-menu-options-container {
  height: 70%;
  font-family: Sucrose-Two;
  color: white;
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  transform: scale3d(1, 1, 1);
}
.play-tiled-menu-options-container ul{
  transform: scale3d(1, 1, 1);
}



.play-tiled-menu-options-container ul:first-child{
  position: relative;
  display: flex;
  justify-content: center;
  list-style-type: none;
  /*-webkit-animation: tiled-menu-fade-in 0.4s ease-in-out;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-fill-mode:forwards;*/
  opacity: 1;
  height: 70%;
  width: 100%;
  padding: 0;
  margin: 0;
  margin-right: auto;
}
.play-tiled-menu-options-container ul li {
  width: 19vw;
  height: 25vw;

}

.play-tiled-menu-options-container ul:first-child li {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(13,13,13,0.5);
  margin: 0;
  padding: 0;
  pointer-events: all;
  margin-left: 0.75vw;
  margin-right: 0.75vw;
  transition: all 0.15s ease-in-out;
}

.play-tiled-menu-options-container ul:first-child li:focus {
  border: 3px solid rgba(204,0,0,1);
  box-shadow: 0px 0px 75px 0px rgba(204,0,0,1);
  z-index: 9;
  /*transform: scale(1.075);
    transform: rotateY(90deg);*/
}

.play-tiled-menu-options-container ul:first-child li:focus .tiledhighlighttopcontainer {
  opacity: 1;
}

.play-tiled-menu-options-container ul:first-child li:focus .tiledhighlightbottomcontainer {
  opacity: 1;
}

.play-tiled-menu-options-container li .play-title {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 21%;
  width: 100%;
  text-align: center;
  background-color: rgba(13,13,13,0.7);
}

.play-tiled-menu-options-container li:focus .play-title {
  background-color: rgba(100,0,0,0.8);
  z-index: 99;
}

.play-tiled-menu-options-container li .play-title h1 {
  margin: 0;
  padding: 0;
  text-align: center;
  width: 100%;
  position: relative;
  text-transform: uppercase;
  font-family: Sucrose-Two;
  font-size: 2.5vw;
  color: white;
  z-index: 99;
}

.play-tiled-menu-options-container li .customization-badge {
  position: absolute;
  top: 4%;
  left: 7%;
  transform: scale(1.3);
}

.play-tiled-menu-options-container li .tiled-menu-rollover {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 80%;
  width: 100%;
  /* background-color: rgba(13,13,13,0.8); */
  opacity: 0;
}

/* .play-tiled-menu-options-container li:focus .tiled-menu-rollover {
  opacity: 1;
} */

.play-tiled-menu-options-container li p {
  color: white;
  padding: 0;
  margin: 0;
  text-align: center;
  font-size: 1.3vw;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}
