#ranked-menu .ranked-ffa-bg {
  background-image: url("../../images/FreeForAll.png");
  background-repeat: no-repeat;
  background-size: cover;
}

#ranked-menu .ranked-teams-bg {
  background-image: url("../../images/Teams.png");
  background-repeat: no-repeat;
  background-size: cover;
}
