#settings-video-menu-options {
  font-family: Sucrose-Two;
  height: 80%;
  width: 60%;
  left: 0;
  /* border: 1px solid red; */
}

#settings-video-menu-options h2 {
  font: 1.5vw Sucrose-Two;
  vertical-align: middle;
  padding: 0;
  margin: 0;
  /* width: 100%; */
  height: auto;
  /* border: 1px solid lime; */

}

#settings-video-menu-options ul{
  width: 100%;
  height: auto;
  padding: 0;
  margin: 0;
  /* border: 1px solid yellow; */

}

#settings-video-menu-options ul li {
  width: 100%;
  float: left;
}

#settings-video-menu-options ul li .vertical-list-menu-item {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  height: auto;
  /* border: 1px solid lime; */

}

#settings-video-menu-options ul li .vertical-list-menu-item h2 {
  transition: text-indent 0.15s ease-in-out;
}

#settings-video-menu-options ul li:focus .vertical-list-menu-item h2 {
  text-indent: 1vw;
  font: 1.5vw Sucrose-BoldTwo;
}

#settings-video-menu-options ul li:focus .vertical-list-menu-item{
  padding-left: 0%;
}

#settings-video-menu-options .picker-container {
  height: 2vw !important;
  padding: 0 !important;
  margin: 0 !important;
}

#settings-video-menu-options .picker-container span{
  height: 1.8vw !important;
  margin-top: .2vw;
  padding: 0 !important;
  margin: 0 !important;
}

#settings-video-menu-options ul li .vertical-list-menu-item .picker-container {
  font: 1.5vw Sucrose-Two;
  width: 30%;
  height: 100%;
}

#settings-video-menu-options ul li .vertical-list-menu-item .picker-container i {
  width: 20%;
  text-align: center;
  pointer-events: all;
  font: 2vw CullDings;
}

#settings-video-menu-options ul li .vertical-list-menu-item .picker-container i:hover {
  color: rgba(204,0,0,1);
}

#settings-video-menu-options ul li .vertical-list-menu-item .picker-container span {
  font: 1.5vw Sucrose-Two;
}

#settings-video-menu-options ul li:focus .vertical-list-menu-item .picker-container span {
  font: 1.5vw Sucrose-BoldTwo;
}
