.training-basic-bg {
  background-image: url("../../images/Basic_Tutorial.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.training-adv-bg {
  background-image: url("../../images/Training_Range.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.training-practice-bg {
  background-image: url("../../images/Offline_Game.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.training-survival-bg {
  background-image: url("../../images/Survival.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
