@font-face {
    font-family: ForgottenFuturist-Bold;
    src: local(ForgottenFuturist-Bold), url('../../fonts/forgotten_futurist_bd.otf') format('opentype');
}

@font-face {
    font-family: ForgottenFuturist-Bold-Italic;
    src: local(ForgottenFuturist-Bold-Italic), url('../../fonts/forgotten_futurist_bd_it.otf') format('opentype');
}

@font-face {
    font-family: ForgottenFuturist;
    src: local(ForgottenFuturist), url('../../fonts/forgotten_futurist_rg.otf') format('opentype');
}

@font-face {
    font-family: ForgottenFuturist-Italic;
    src: local(ForgottenFuturist-Italic), url('../../fonts/forgotten_futurist_rg_it.otf') format('opentype');
}

@font-face {
    font-family: ForgottenFuturist-Black;
    src: local(ForgottenFuturist-Bold), url('../../fonts/forgotten_futurist_bl.otf') format('opentype');
}

@font-face {
    font-family: ForgottenFuturist-Black-Italic;
    src: local(ForgottenFuturist-Bold-Italic), url('../../fonts/forgotten_futurist_bl_it.otf') format('opentype');
}

@font-face {
    font-family: ForgottenFuturist-Light;
    src: local(ForgottenFuturist-Bold), url('../../fonts/forgotten_futurist_lt.otf') format('opentype');
}

@font-face {
    font-family: ForgottenFuturist-Light-Italic;
    src: local(ForgottenFuturist-Bold-Italic), url('../../fonts/forgotten_futurist_lt_it.otf') format('opentype');
}

body {
    background: rgba(0,0,0,0);
    overflow: hidden;
    -webkit-text-stroke: 1px rgba(0, 0, 0, 0.1);
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
    width: 100%;
    height: 100%;
}

div  {
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
    pointer-events: none !important;
}

#toast-container{
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -webkit-user-select: none;
  z-index: 99999;
  width: 26vw;
  height: 25vw;
  display: flex;
  flex-direction: column-reverse;
  flex-shrink: 0;
  order: 1;
  overflow: visible;
}

#cloned-elements{
  position: absolute;
  display: none;
}

.toast-object-container{
  width: 100%;
  min-height: 6.5vw;
  max-height: 8vw;
  background: rgba(51,51,51,0.5);
  border: 2px solid rgba(51,51,51,1);
  margin-bottom: 1vw;
  margin-left: 1vw;
  flex-shrink: 0;
  flex-grow: 0;
  display: inline-flex;
  overflow:hidden;
}

/*  .toast-object-left-highlight{
  float:left;
  width: 0.5vw;
  background-color: gba(51,51,51,0.5)
  display: inline-block;
 -moz-box-shadow: 0 0 10px rgba(0,255,255,1);
  -webkit-box-shadow: 0 0 10px rgba(0,255,255,1);
  box-shadow: 0px 0px 10px rgba(0,255,255,1); */
}

.toast-object-text-container{
  width: 100%;
  margin-left: 0.5vw;
  height: 100%;
  display: inline-block;
  margin-top: 1vw;
}

.toast-object-left-image{
  height: 6vw;
  width: 8vw;
  margin-left: 0.5vw;
  margin-top: 0.2vw;
  background-image: none;
  background-repeat: no-repeat;
  background-size:contain;
  display: inline-block;
}
.toast-object-text-container h1{
  color: rgba(255, 255, 255, 0.7);
  font: 2vw ForgottenFuturist;
  text-transform: uppercase;
  margin-top: 0.2vw !important;
  margin-bottom: 0.1vw !important;
  -webkit-margin-before:0;
  -webkit-margin-after:0;
  -webkit-margin-start:0;
  -webkit-margin-end:0;
  display: block;
}

.toast-object-text-container span{
  font: 1vw ForgottenFuturist;
  margin-top: 0.1vw;
  display: inline-block;
  color: white;
}

.toast-enter{
    -webkit-animation: toast_enter 0.5s ease-in;
    -webkit-animation-iteration-count: 1;
}

.toast-exit{
    -webkit-animation: toast_exit 0.75s ease-out;
    -webkit-animation-iteration-count: 1;
    -webkit-transform: translateX(-200%);
}

@-webkit-keyframes toast_enter {
  0% {
    -webkit-transform: translateX(-200%);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0%);
    opacity: 1;
  }
}

@-webkit-keyframes toast_exit {
  0% {
    -webkit-transform: translateX(0%);
  }
  100% {
    -webkit-transform: translateX(-200%);
  }
}



.modal-content {
  overflow: visible !important;
  margin: 0 0 0 0;
  border-radius: 0;
  box-shadow: none !important;
  -webkit-box-shadow: none !important;
}

.modal-content-matchmaking{
    background: rgb(0, 93, 96);
    opacity: 1;
}

.modal-content{
  color: rgb(254, 254, 219);
  /* border-radius: 25px; */
  background: rgba(0,93,96,0.3);
  background-image: url("../images/grid.svg");
  background-size: 60px 60px;
  background-repeat: repeat -y, -x;
  border: 1px solid rgb(254, 254, 219);
}

.modal-content {
    /* Bootstrap sets the size of the modal in the modal-dialog class, we need to inherit it */
    width:inherit;
    height:inherit;
    /* To center horizontally */
    margin: 2% auto;
    -webkit-transform: rotateX(0deg); /*used to force a new layer in coherent */
}

.btn-primary{
    height: 2vw;
    width: 2vw;
    font-size: 1vw;
    line-height: 1vw;
    /* text-shadow: 1.25px 1.25px rgba(0,0,0,0.5); */
}

.btn-default {
  color: rgb(254, 254, 219);
  font: 2vw ForgottenFuturist;
   /* box-shadow: 2px 2px 1px rgba(0,0,0,0.35); */
}
.btn-default-quit {
    background-color: rgba(0, 93, 96, 1);
    /* border-color: rgb(0, 145, 136); */
    color: #01565E;
}

.btn-quit {
    background-color: rgb(255,161,73);
    /* border-color: #FF6700; */
    color: rgb(254,254,219);
}

.btn-cancel-quit {
    background-color: #2697A1;
    /* border-color: #48ABB4; */
    color: #01565E;
}

.modal-body-quit p {
    color: rgb(254,254,219);
    /* text-shadow: 1px 1px rgba(0,0,0,0.5); */
    font: 2vw ForgottenFuturist;
    text-align: center
}

.modal-content-quit h4 {
    color: rgb(254,254,219);
    /* text-shadow: 1.25px 1.25px rgba(0,0,0,0.5); */
    font: 2vw ForgottenFuturist;
    text-align: center
}
