
.endofmatch-main-container{
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none;
  overflow: hidden;
}

.EOMBackground{
  width: 100%;
  height: 100%;
  position: absolute;

}

.loser{
  background-color: rgba(204,0,0,.25);

}

.victory{
  background-color: rgba(247,147,30,.25);
}

.endofmatch-outcome-container{
  width: 100%;
  height: 75%;
  top: 10%;
  z-index: 999;
  position:absolute;
  display:flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.endofmatch-header-container{
  width: 30%;
  height: 10%;
  position:absolute;
}

.VICTORY{
 background: url("../../images/VICTORY.png");
}

.HUNTED{
 background: url("../../images/HUNTED.png");
}

.SUICIDE{
 background: url("../../images/SUICIDE.png");
}

.endofmatch-outcome-image {
  position: relative;
  width: 65%;
  height: 0;
  padding: 0;
  padding-bottom: 65%;
  margin-top: -20%;
  background-position: 0 0;
  background-size: 500%;
  animation: eomoutcomeplay 1s steps(4) forwards;
}

@keyframes eomoutcomeplay {
  0% {
    background-position-x: 0%;
    background-position-y: 0%;
  }
  20% {
    background-position-x: 100%;
    background-position-y: 0%;
  }
  20.01% {
    background-position-x: 0%;
    background-position-y: 25%;
  }
  40% {
    background-position-x: 100%;
    background-position-y: 25%;
  }
  40.01% {
    background-position-x: 0%;
    background-position-y: 50%;
  }
  60% {
    background-position-x: 100%;
    background-position-y: 50%;
  }
  60.01% {
    background-position-x: 0%;
    background-position-y: 75%;
  }
 80% {
    background-position-x: 100%;
    background-position-y: 75%;
  }
  80.01% {
    background-position-x: 0%;
    background-position-y: 100%;
  }
  100% {
    background-position-x: 100%;
    background-position-y: 100%;
  }
}

.endofmatch-header-overview span{
  padding: .5vw 1.5vw;
}

.endofmatch-header-overview .header-outcome{
  font: 3vw Sucrose-BoldTwo;

}

.header-outcome-victory{
  color: rgba(252,206,0,1);
}

.header-outcome-hunted{
  color: rgba(204,0,0,1);
}

.endofmatch-header-overview .header-gametype{
  font: 1.5vw Sucrose-Two;
  color: rgba(255,255,255,1);
  border-left: 2px solid  rgba(220,220,220,1);
  padding-top: 1vw;
}

.endofmatch-header-overview .header-tod {
  font: 3vw Sucrose-BoldTwo;
  color: rgba(255,255,255,1);
  padding: 0 0 0 1.5vw;
  border-left: 2px solid  rgba(220,220,220,1);
}

.endofmatch-tab-navigation-container{
  margin: auto;
  width: 50%;
  height: 6%;
  top: 10%;
  left: 25%;
  position: absolute;
  /* border: 1px solid yellow; */
}

.endofmatch-tab-navigation{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.endofmatch-tab-navigation div{
  font: 1.5vw Sucrose-Two;
  height: 3vw;
  width: auto;
  color: rgba(220,220,220,1);
  background-color: rgba(220,220,220,0);
  border: 2px solid rgba(220,220,220,1);
  margin: 0 .5vw;
  padding: .5vw 1.5vw;
  text-align: center;
  cursor: pointer;
  pointer-events: all;
}

/* .endofmatch-tab-navigation div:hover, .endofmatch-tab-navigation div:focus{
  background-color: rgba(204,0,0,0.5) !important;
  border: 2px solid rgba(204,0,0,1) !important;
} */

.tab-focus span {
    /* color: rgba(255,255,255,1)!important;
    background: rgba(204,0,0,0.2)!important; */
    color: rgba(204,0,0,1) !important;
    font: 1.5vw Sucrose-BoldTwo !important;
}

.tab-focus{
    background-image: url("/images/menuunderline.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: bottom;
}



.endofmatch-tab-navigation span{
  font: 4.5vw CullDings;
  line-height: .5vw;
  color: rgba(255,255,255,.75);
  margin: 1vw .5vw;
  vertical-align: text-top;
}

.left-trigger:before{
  content:"\003e";
}

.right-trigger:before{
  content:"\003f";
}

.endofmatch-outcome-status{
  width: 50vw;
  height: 30vw;
  order: 1;
  display: flex;
  justify-content: center;
}

.culling-card-container{
  width: 24vw;
  height: 4.2vw;
  overflow: hidden;
  order: 3;
  justify-content: center;
  align-self: center;
  margin-top: auto;
  display: flex;
}

.local-culling-card-container {
  background-image: url("/images/culling-cards/CC_Artboard-88.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.culling-card{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
}

.left-column{
  width: 20%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.right-column{
  width: 80%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.culling-card .player-level{
  font:  2vw ForgottenFuturist-Bold !important;
  line-height:  2vw;
  color: black;
    -webkit-text-fill-color: white; /* Will override color (regardless of order) */
    -webkit-text-stroke-width: 5px;
    -webkit-text-stroke-color: black;
  overflow: hidden;
  text-align: center;
}

.culling-card .player-name{
  width: 70%;
  font: 1.2vw ForgottenFuturist-Bold !important;
  color: black;
    -webkit-text-fill-color: white; /* Will override color (regardless of order) */
    -webkit-text-stroke-width: 5px;
    -webkit-text-stroke-color: black;
  float: right;
  overflow: hidden;
  text-align: left;
  white-space: nowrap;
}

.culling-card .player-rank{
  font: .9vw Sucrose-Bold;
  color: black;
    -webkit-text-fill-color: white; /* Will override color (regardless of order) */
    -webkit-text-stroke-width: 5px;
    -webkit-text-stroke-color: black;
  overflow: hidden;
  text-align: left;
}

.culling-card .player-rank:before{
  font: 1.2vw CullDings;
  line-height: .5vw;
  color: black;
    -webkit-text-fill-color: white; /* Will override color (regardless of order) */
    -webkit-text-stroke-width: 5px;
    -webkit-text-stroke-color: black;
  content: '\0058  ';
}


.endofmatch-killedby-container{
  width: 100%;
  order: 3;
  justify-content: center;
  margin-top: auto;
  display: flex;
}

.endofmatch-killedby-banner{
  width: 80%;
  text-align: center;
  background-image: url('../../images/nameplate.png');
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0 auto;
}

.endofmatch-killedby-name{
  width: 80%;
  float:right;
  margin: .3vw;
}

.endofmatch-killedby-name .killerName{
  font: 2.4vw Sucrose-Two;
  color: rgba(255,255,255,1);
  float: left;
  overflow: hidden;
  width:29vw;
  height: 3vw;
  text-align: left;
}

.endofmatch-killedby-name .killerId{
  font: 2.8vw Sucrose-Two;
  color: rgba(255,255,255,1);
  float: right;
  overflow:hidden;
  width: 3vw;
  height: 3vw;
  text-align: center;
}

.endofmatch-killedby-name .killerWeapon{
  font: 1.4vw Sucrose-Two;
  color: rgba(204,0,0,1);
  float: left;
  background-color: rgba(0,0,0,.5);
  padding: .2vw .5vw;
}

.endofmatch-summary-container, .endofmatch-scoreboard-container{
  width: 100%;
  height: 75%;
  top: 17%;
  left: 0;
  animation: endofmatch-outcome-fadein 1.5s ease-in 1;
  z-index: 999;
  transition: all 0.5s;
  transition-timing-function: ease-in;
  position:absolute;
  display:flex;
  flex-direction: column;
  text-align: center;
}

.endofmatch-summary-container h1{
  font: 2vw Sucrose-Two;
  color: rgba(255,255,255,1);
  padding: 0;
  margin: 0;
}

.endofmatch-summary-performance, .endofmatch-summary-challenges, .endofmatch-summary-exp{
  display: flex;
  flex-direction: column;
  margin-top: 1.5vw;
}

.endofmatch-summary-performance-title, .endofmatch-summary-challenges-title{
  order:1;
  margin: 0 auto;
  align-self: flex-start;
}

.endofmatch-summary-performance-sections, .endofmatch-summary-challenges-sections{
  flex: 0 1 auto;
  display:flex;
  flex-direction: row;
  align-content: space-around;
  align-items: flex-start;
  justify-content: center;
  order:2;
  padding: 0;
  margin: 0;
}

.endofmatch-summary-performance-sections section, .endofmatch-summary-challenges-sections section{
  width: 25vw;
  height: 10vw;
  margin: 0.5% 1%;
  padding: 1vw;
  display: flex;
  align-items: center;
  /* background-color: rgba(13,13,13,0.8);
  outline: 5px solid rgba(51,51,51,0.8); */
  background-image: url('../../images/EOM_box.png');
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.left-section{
  float:left;
  text-align: left;
  margin-right: auto;
  width: 60%;
}

.right-section{
  float:right;
  text-align: right;
  margin-left:auto;
  width: 40%;
}

.right-section-complete{

}

.left-section h1{
  font: 1.2vw Sucrose-Two;
  color: rgba(250,250,250,0.9);
  /* text-shadow: 1px 0px 0 rgba(0, 255, 255, 0.5),
              -1px 0px 0 rgba(255, 0, 0, 0.5); */
  padding: 0;
  margin: 0;
}

.left-section h2{
  font: .9vw Sucrose-Two;
  color: rgba(175,175,175,1);
  padding: 0 0 .5vw 0;
  margin: 0;
}

.left-section h3{
  font: .9vw Sucrose-Two;
  color: rgba(204,0,1,1);
  padding: 0 0 .5vw 0;
  margin: 0;
}

.right-section span{
  font: 4.5vw Sucrose-Two;
  color: rgba(250,250,250,0.9);
  /* text-shadow: 2px 0px 0 rgba(0, 255, 255, 0.5),
              -2px 0px 0 rgba(255, 0, 0, 0.5); */
  padding: 0;
  margin: 0;
  text-align: right;
}

.right-section img{
  width: 8vw;
  height: 8vw;
  padding: 0;
  margin: 0;
}

.challenge-progress-container{
  width:10vw;
  height:.7vw;
  position:relative;
  background-color:rgba(255,255,255,.3);
}

.challenge-progressbar{
  height:100%;
  position:absolute;
  line-height:inherit;
  background-color:rgba(255,255,255,1);
}

.endofmatch-summary-exp-title{
  order:1;
  margin: 0 auto;
  align-self: flex-start;
}

.endofmatch-summary-exp-title h1{
  font: 2vw Sucrose-BoldTwo;
  color: rgba(255,255,255,1);
  padding: 0;
  margin: 0;
  display: inline-block;
}

.endofmatch-summary-exp-title span{
  font: 2vw Sucrose-BoldTwo;
  color: rgba(105,184,33,1);
  padding: 0 1vw;
  margin: 0;
  display: inline-block;
}

.endofmatch-summary-exp-bar{
  order:2;
  font: 2.5vw Sucrose-BoldTwo;
  color: rgba(255,255,255,1);
  flex: 0 1 auto;
  display: flex;
  flex-direction: row;
  align-content:space-around;
  align-items: flex-start;
  justify-content: center;
  padding: 0;
  margin: 0;
}

.endofmatch-summary-exp-bar span{
  display: flex;
  padding: 0;
  margin: 0 .5vw;
  line-height: 1.5vw;
}

.exp-progress-container{
  width:70vw;
  height: 1.5vw;
  position:relative;
  background-color:rgba(13,13,13,.5);
  outline: 5px solid rgba(13,13,13,.5);
}
/*
.exp-progressbargreen{
  height:100%;
  position:absolute;
  line-height:inherit;
  background-color:rgba(105,184,33,1);
}
*/
.exp-progressbar{
  height:100%;
  position:absolute;
  line-height:inherit;
  background-color:rgba(0,200,200,1);
}

.exp-earned{
  -webkit-animation: label-animation 1s ease-in 1;
  -webkit-transition: all 1.5s;
  transition-timing-function: ease-in;
}

@-webkit-keyframes label-animation {
    0% { opacity: 0; transform: scale(0.5);}
    80% { opacity: 0.8; transform: scale(1.05);}
    100% { opacity: 1.0; transform: scale(1.0);}
}

.endofmatch-summary-exp-total{
  order:3;
  margin: .5vw auto;
  align-self: flex-start;
  font: 1.2vw Sucrose-Two;
  color: rgba(255,255,255,1);
}

.endofmatch-scoreboard-container{
  overflow: hidden;
}

.scoreboard-teams-list{
  overflow-y: scroll;
}

.container-scoreboard{
  margin: 0;
  padding: 0;
}

.container-scoreboard .scoreboard-header{
  width:100%;
  font: 1.4vw ForgottenFuturist;
  color:rgba(255,255,255,1);
  background-color:rgba(255,255,255,.3);
  flex: 0 1 auto;
  display: flex;
  flex-direction: row;
  align-content:space-around;
  align-items: flex-start;
  justify-content: center;
  padding: 0 1vw;
  margin: 0;
}

.container-scoreboard .scoreboard-header > span, .container-scoreboard .scoreboard-players .scoreboard-stats > span{
  display: flex;
  padding: .2vw !important;
  border: 0 !important;
}

.container-scoreboard .scoreboard-players{
  width:100%;
  font: 1.1vw ForgottenFuturist;
  color:rgba(255,255,255,1);
  background-color:rgba(51,51,51,.6);
  pointer-events: all;
  padding: 0 1vw;
  margin: .1vw 0;
}

.container-scoreboard .scoreboard-players .scoreboard-stats{
  flex: 0 1 auto;
  display: flex;
  flex-direction: row;
  align-content:space-around;
  align-items: flex-start;
  justify-content: center;
}

.scoreboard-player-loadout{
  height: 0;
  overflow:hidden;
  /*transition: height .25s;*/
}
/*
.container-scoreboard .scoreboard-players:hover .scoreboard-player-loadout{
  height: 7vw;
}*/

.container-scoreboard .scoreboard-players:hover{
  border: 1px solid white;
}

.scoreboard-players:hover .no-hover-height{
  height: 0 !important;
}

.no-hover-border:hover{
  border: 0 !important;
}
/*
.container-scoreboard .scoreboard-players:focus .scoreboard-player-loadout{
  height: 7vw;
}*/

.container-scoreboard .scoreboard-players:focus{
  border: 1px solid white;
}

.container-scoreboard .scoreboard-players .player-score{
  background-color:rgba(204,0,0,.6);
  width: 1vw;
}

.scoreboard-rank{
  width: 10%;
  text-align:center;
  overflow: hidden;
}

.scoreboard-name{
  width: 40%;
  text-align:left;
  overflow: hidden;
  white-space: nowrap;
}

.scoreboard-kills{
  width: 5%;
  text-align:center;
  overflow: hidden;
}

.scoreboard-status{
  width: 35%;
  text-align:left;
  overflow: hidden;
  white-space: nowrap;
}

.scoreboard-time{
  width: 10%;
  text-align:center;
  overflow: hidden;
}

.scoreboard-damage{
  width: 10%;
  text-align:center;
  overflow: hidden;
}

.scoreboard-player-loadout{
  flex: 0 1 auto;
  display: flex;
  flex-direction: row;
  align-content: space-around;
  align-items: flex-start;
  justify-content: center;
  order:2;
  padding: 0;
  margin: 0;
}

.scoreboard-player-loadout section{
  width: 20vw;
  height: 7vw;
  margin: 0 1%;
  padding: 1vw;
  display: flex;
  align-items: center;
  background-color: rgba(51,51,51,.6);
  overflow: hidden;
}

.scoreboard-player-loadout .right-section img{
  width: 4.5vw;
  height: 4.5vw;
  padding: 0;
  margin: 0;
}

.deadicon:before{
  font: 2vw CullDings;
  color: rgba(255,255,255,1);
  content: "\0024";
  line-height: 1.5vw;
  padding-right: .5vw;
}

.cell-dark{
  background-color: rgba(51,51,51,0.05);
  text-indent: 20px;
}

.cell-light{
  background-color: rgba(220,220,220,0.05);
  text-indent: 20px;
}

.team-body::after{
  content: '';
  display: table-row;
  height: 10px;
  background-color: none;
}

.team-body{
  border-top: none !important;
  font: 2vw Sucrose-Two;
  /*text-shadow: 2px 2px rgba(0,0,0,0.75); */
  max-height: 30px;
}

.weapon-icon{
  font: 2vw CullDings;
  line-height: 1.5vw;
  color: rgba(255,255,255,1);
  padding-left: .7vw;
}

.action-button-container{
  width: 100%;
  height: 3vw;
  position: absolute;
  bottom: 0;
  z-index: 999;
  padding-left: 1.5vw;
}

.action-buttons-list{
  display: inline-flex;
  width: 55%;
  height: 100%;
  flex-direction: row;
}

.action-button{
  border: 2px solid rgba(255,255,255,1);
  border-radius: 2px;
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;
  width: auto;
  height: 3vw;
  padding-left: 0.45vw;
  padding-right: 1vw;
  margin-right: 1vw;
}


.action-button .kb-button{
  font: 1.5vw Sucrose-BoldTwo;
  border-radius: 2px;
  text-align: center;
  pointer-events: all;
  color: rgba(51,51,51,1);
  vertical-align: middle;
  padding-left: 0.5vw;
  padding-right: 0.5vw;
  background-color: rgba(255,255,255,1);
}

.action-button .controller-button{
  font: 2.5vw CullDings;
  text-align: center;
  color: rgba(255,255,255,1);
  vertical-align: middle;
  padding-left: 0.5vw;
  padding-right: 0.5vw;
}

.action-button .button-text{
  font: 1vw Sucrose-Two;
  display: inline-block;
  text-transform: uppercase;
  color: white;
  width: auto;
  white-space: nowrap;
  margin-left: .8vw;
}

.action-button:hover {
  border: 2px solid rgba(227,0,5,0.85);
  background-color: rgba(227,0,5,0.5);
}
/*
#eom-screen-video{
  position: absolute;
  width: 100%;
  height: 100%;
}

#eom-video{
  width: 100%;
  height: 100%;

}
*/

.endofmatch-tab-nav-bar{
  width: 100%;
  height: 100%;
  /* border: 1px solid lime; */
}

.endofmatch-tab-nav-bar-list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  list-style: none;
  margin: 0;
  padding: 0;
}

.endofmatch-tab-nav-bar .endofmatch-tab-tab-deactive{
  font: 1.5vw Sucrose-Two;
  height: 3vw;
  width: auto;
  color: rgba(255,255,255,.5);
  background-color: rgba(220,220,220,0);
  /* border: 2px solid rgba(100,100,100,1); */
  margin: 0 .5vw;
  padding: .5vw 1.5vw;
  text-align: center;
  border: 1px solid blue;

}

.endofmatch-tab-nav-bar .player-profile-tab{
  font: 1.5vw Sucrose-Two;
  height: 3vw;
  width: auto;
  color: white;
  /* background-color: rgba(220,220,220,0); */
  /* border: 2px solid rgba(200,200,200,1); */
  margin: 0 .5vw;
  padding: .5vw 1.5vw;
  text-align: center;
  cursor: pointer;
  pointer-events: all;
}

.endofmatch-tab-nav-bar .player-profile-tab:focus, .endofmatch-tab-nav-bar .player-profile-tab:hover{
  background-image: url("/images/menuunderline.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: bottom;
  color: rgba(204,0,0,1) !important;
  font: 1.5vw Sucrose-BoldTwo !important;
}

.endofmatch-tab-nav-bar .player-profile-tab:active{
  color: rgba(255,255,255,1);
}

.endofmatch-tab-nav-bar .player-profile-tab.selected{
  background-image: url("/images/menuunderline.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: bottom;
  color: rgba(204,0,0,1) !important;
  font: 1.5vw Sucrose-BoldTwo !important;
}

.endofmatch-tab-nav-bar li.trigger-container:hover{
  background-color: rgba(204,0,0,0);
  border: none;
}


.left-trigger:before{
  content:"\003e";
}

.right-trigger:before{
  content:"\003f";
}

.endofmatch-tab-nav-bar span.trigger{
  font: 4.5vw CullDings;
  line-height: 2vw;
  color: rgba(255,255,255,1);
  margin: 1vw .5vw;
  vertical-align: text-top;
}

.levelupcontainer{
  margin-top: 2vw;
  height: 15vw;
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.levelup {
  display: flex;
  flex-direction: row;
  align-content: center;
  align-items: center;
  justify-content: center;
  width: 90%;
  animation: lvlupplay 0.7s 1, lvluppulse 1.5s infinite;
}

@keyframes lvlupplay {
	0% {
		transform: translateY(100%) scale(0.6) scaleY(0.5);
	}
	60%{
		transform: translateY(-7%) scaleY(1.12);
	}
	75%{
		transform: translateY(3%);
	}
	100% {
		transform: translateY(0%) scale(1) scaleY(1);
	}
}

@keyframes lvluppulse {
	0% {
		transform: scale(.99);

	}
	50% {
		transform: scale(1);

	}
	100% {
		transform: scale(.99);

	}
}

#leveluptext{
  font: 5.5vw SucroseSlant-Two;
  color: rgba(250,250,250,0.9);
  /* text-shadow: 2px 0px 0 rgba(0, 255, 255, 0.5),
              -2px 0px 0 rgba(255, 0, 0, 0.5); */
}

.levelupoutcome{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50vw;
  height: 6vw;
  background: rgba(13,13,13,0.8);
  box-shadow: -10px 0px 20px 0px rgba(13,13,13,0.5),
              10px 0px 20px 0px rgba(13,13,13,0.5);
  z-index: 9999;
  overflow: visible;
}

#levelup{
  border-left: 0.5vw solid rgba(204,0,0,1);
  border-right: 0.5vw solid rgba(204,0,0,1);
}

#cratereward{
  border-left: 0.5vw solid rgba(0,200,200,1);
  border-right: 0.5vw solid rgba(0,200,200,1);
}

.rewardcrateimage {
    position: relative;
    width: 45%;
    height: 0;
    padding: 0;
    padding-bottom: 45%;
    left: -5%;
    top: -15%;
    margin-right: -5%;
    background-image: url('../../images/rewardcrateg.png');
    background-position: 0 0;
    background-size: 500%;
    animation: crateplayv 1s steps(5) infinite, crateplayh 0.2s steps(5) infinite;
}

@keyframes crateplayv {
  0% {background-position-y: 0;}
  100% {background-position-y: -500%;}
}

@keyframes crateplayh {
  0% {background-position-x: 0;}
  100% {background-position-x: -500%;}
}

.leftfxcontainercr {
  width: 10vw;
  height: 6vw;
}

.rightfxcontainercr {
  width: 10vw;
  height: 6vw;
}
.leftfxcontainerlu {

  width: 10vw;
  height: 6vw;
}

.rightfxcontainerlu {
  width: 10vw;
  height: 6vw;
}

.leftgradientcr {
  width: 10vw;
  height: 6vw;
  background: linear-gradient(to left, rgba(0,200,200,0.5) 0%,rgba(0,200,200,0) 45%);
}

.rightgradientcr {
  width: 10vw;
  height: 6vw;
  background: linear-gradient(to right, rgba(0,200,200,0.5) 0%,rgba(0,200,200,0) 45%);
}

.leftgradientlu {
  width: 10vw;
  height: 6vw;
  background: linear-gradient(to left, rgba(204,0,0,1) 0%,rgba(204,0,0,0) 45%);
}

.rightgradientlu {
  width: 10vw;
  height: 6vw;
  background: linear-gradient(to right, rgba(204,0,0,1) 0%,rgba(204,0,0,0) 45%);
}

.rightparticlescr {
  position: relative;
  width: 60%;
  height: 0;
  padding: 0;
  padding-bottom: 60%;
  top: 0;
  transform: scale(-1);
  background-image: url('../../images/EdgeShimmer_Blue.png');
  background-position: 0 0;
  background-size: 500%;
  animation: particlesplayv 1s steps(5) infinite, particlesplayh 0.2s steps(5) infinite;
}

.leftparticlescr {
  position: relative;
  width: 60%;
  height: 0;
  padding: 0;
  padding-bottom: 60%;
  right: -41%;
  top: 0;
  background-image: url('../../images/EdgeShimmer_Blue.png');
  background-position: 0 0;
  background-size: 500%;
  animation: particlesplayv 1s steps(5) infinite, particlesplayh 0.2s steps(5) infinite;
}

.rightparticleslu {
  position: relative;
  width: 60%;
  height: 0;
  padding: 0;
  padding-bottom: 60%;
  top: 0;
  transform: scale(-1);
  background-image: url('../../images/EdgeShimmer_Red.png');
  background-position: 0 0;
  background-size: 500%;
  animation: particlesplayv 1s steps(5) infinite, particlesplayh 0.2s steps(5) infinite;
}

.leftparticleslu {
  position: relative;
  width: 60%;
  height: 0;
  padding: 0;
  padding-bottom: 60%;
  right: -41%;
  top: 0;
  background-image: url('../../images/EdgeShimmer_Red.png');
  background-position: 0 0;
  background-size: 500%;
  z-index: 999;
  animation: particlesplayv 1s steps(5) infinite, particlesplayh 0.2s steps(5) infinite;
}

@keyframes particlesplayv {
  0% {background-position-y: 0;}
  100% {background-position-y: -500%;}
}

@keyframes particlesplayh {
  0% {background-position-x: 0;}
  100% {background-position-x: -500%;}
}

.endofmatch-summary-performance{
  height: 30vw;
  width: 100%;
}

.match-placement-container{
  width: 50vw;
  height: 4vw;
  font-family: Sucrose-BoldTwo;
  color: rgba(255,255,255,1);
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
}

.match-placement-symbol img{
  opacity: 0;
  width: 7vw;
  height: 7vw;
  margin-right: 2vw;
  animation-name: scale-opacity;
 animation-duration: .3s;
 animation-iteration-count: 1;
 animation-direction: alternate; /* or: normal */
 animation-timing-function: ease-in-out; /* or: ease, ease-in, ease-in-out, linear, cubic-bezier(x1, y1, x2, y2) */
 animation-fill-mode: forwards; /* or: backwards, both, none */
 animation-delay: 1s; /* or: Xms */
}

@keyframes scale-opacity {
    0% {
        transform: scale(3.0);
        opacity: 0;
    }
    90% {
        transform: scale(0.8);
        opacity: 1;
    }
    100% {
        transform: scale(1.0);
        opacity: 1;
    }
}

@keyframes dropin-opacity {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.match-placement-text{
  font-size: 3.5vw;
  opacity: 0;
  animation-name: dropin-opacity;
 animation-duration: .3s;
 animation-iteration-count: 1;
 animation-direction: alternate; /* or: normal */
 animation-timing-function: ease-in-out; /* or: ease, ease-in, ease-in-out, linear, cubic-bezier(x1, y1, x2, y2) */
 animation-fill-mode: forwards; /* or: backwards, both, none */
 animation-delay: 1.5s; /* or: Xms */
}

.match-rank-container{
  opacity: 0;
  width: 25vw;
  height: 8vw;
  padding: 1vw;
  font-family: Sucrose-Two;
  background-image: url('../../images/EOM_box.png');
  background-size: 100% 100%;
  background-repeat: no-repeat;
  color: rgba(255,255,255,1);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: center;
  align-items: center;
  margin-top: 2vw;
  animation-name: dropin-opacity;
 animation-duration: .3s;
 animation-iteration-count: 1;
 animation-direction: alternate; /* or: normal */
 animation-timing-function: ease-in-out; /* or: ease, ease-in, ease-in-out, linear, cubic-bezier(x1, y1, x2, y2) */
 animation-fill-mode: forwards;; /* or: backwards, both, none */
 animation-delay: 2s; /* or: Xms */
}

.match-rank, .match-kills{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-self: center;
  align-items: center;

}

.match-rank-title, .match-kills-title{
  font-size: 2vw;
  display: flex;
  margin-right: auto;
}

.match-rank-place, .match-kills-number{
  font-size: 2vw;
  width: 4vw;
  display: flex;
  justify-content: flex-start;
  margin: 0 2vw;
}

.match-rank-score, .match-kills-score{
  font-size: 2vw;
  width: 7vw;
  display: flex;
  justify-content: flex-end;
}

.match-rank-title, .match-rank-place, .match-rank-score{
  opacity: 0;
  animation-name: dropin-opacity;
 animation-duration: .3s;
 animation-iteration-count: 1;
 animation-direction: alternate; /* or: normal */
 animation-timing-function: ease-in-out; /* or: ease, ease-in, ease-in-out, linear, cubic-bezier(x1, y1, x2, y2) */
 animation-fill-mode: forwards; /* or: backwards, both, none */
 animation-delay: 2.5s; /* or: Xms */
}

.match-kills-title, .match-kills-number, .match-kills-score{
  opacity: 0;
  animation-name: dropin-opacity;
 animation-duration: .3s;
 animation-iteration-count: 1;
 animation-direction: alternate; /* or: normal */
 animation-timing-function: ease-in-out; /* or: ease, ease-in, ease-in-out, linear, cubic-bezier(x1, y1, x2, y2) */
 animation-fill-mode: forwards; /* or: backwards, both, none */
 animation-delay: 3s; /* or: Xms */
}

.match-score-container{
  opacity: 0;
  width: 25vw;
  height: 4vw;
  padding: 1vw;
  font-family: Sucrose-BoldTwo;
  background-image: url('../../images/EOM_box.png');
  background-size: 100% 100%;
  background-repeat: no-repeat;
  color: rgba(255,255,255,1);
  display: flex;
  justify-content: center;
  align-self: center;
  align-items: center;
  margin-top: 1vw;
  animation-name: dropin-opacity;
 animation-duration: .3s;
 animation-iteration-count: 1;
 animation-direction: alternate; /* or: normal */
 animation-timing-function: ease-in-out; /* or: ease, ease-in, ease-in-out, linear, cubic-bezier(x1, y1, x2, y2) */
 animation-fill-mode: forwards; /* or: backwards, both, none */
 animation-delay: 3.5s; /* or: Xms */
}

.match-score{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-self: center;
  align-items: center;
}

.match-score-title{
  font-size: 1.5vw;
  display: flex;
  margin-right: auto;
}

.match-score-total{
  font-size: 2.5vw;
  width: 7vw;
  display: flex;
  justify-content: flex-end;
}

.match-score-total, .match-score-title{
  opacity: 0;
 animation-name: dropin-opacity;
 animation-duration: .3s;
 animation-iteration-count: 1;
 animation-direction: alternate; /* or: normal */
 animation-timing-function: ease-in-out; /* or: ease, ease-in, ease-in-out, linear, cubic-bezier(x1, y1, x2, y2) */
 animation-fill-mode: forwards; /* or: backwards, both, none */
 animation-delay: 4s; /* or: Xms */
}

.level-up-outcome-container{
  opacity: 0;
  width: 50vw;
  height: 4vw;
  padding: .5vw;
  font-family: Sucrose-BoldTwo;
  color: rgba(255,255,255,1);
  display: flex;
  justify-content: center;
  align-self: center;
  align-items: center;
  margin: 3vw 0;
}

.level-up-outcome{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-self: center;
  align-items: center;
}

.level-up-reached{
  opacity: 0;
  font-size: 3vw;
  animation-name: dropin-opacity;
 animation-duration: .3s;
 animation-iteration-count: 1;
 animation-direction: alternate; /* or: normal */
 animation-timing-function: ease-in-out; /* or: ease, ease-in, ease-in-out, linear, cubic-bezier(x1, y1, x2, y2) */
 animation-fill-mode: forwards; /* or: backwards, both, none */
 animation-delay: 5s; /* or: Xms */
}

.level-up-crate{
  opacity: 0;
  animation-name: scale-opacity;
 animation-duration: .3s;
 animation-iteration-count: 1;
 animation-direction: alternate; /* or: normal */
 animation-timing-function: ease-in-out; /* or: ease, ease-in, ease-in-out, linear, cubic-bezier(x1, y1, x2, y2) */
 animation-fill-mode: forwards; /* or: backwards, both, none */
 animation-delay: 5.5s; /* or: Xms */
}
