.pause-menu-title > h1{
  color: rgba(255,255,255,1);
  /* text-shadow: 2px 2px 0 rgba(0, 255, 255, 0.5),
              -2px -2px 0 rgba(255, 0, 0, 0.5); */

  font: 4vw SucroseSlant-BoldTwo;
  line-height: 0.8;
  margin: 0 0 0 0;
  padding: 0 0 0 0;
  /*margin-left: 2vw;*/
  width: 20vw;
  white-space: nowrap;
}

.pause-menu-header-line{
  width: 100vw;
  height: 0.83vh;
  margin-bottom: 3vw;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url("../../images/headerstripe.png");
}

.pause-menu-content {
  position: absolute;
  height: 80%;
  width: 95%;
  top: 15%;
  box-sizing: border-box;
  /* background-color: salmon;*/
  overflow: hidden;
  display: flex;
  /*padding-left: 3vw;*/
  flex-direction: row;
}

.pause-menu-list{
  overflow: visible;
  overflow-y: auto;
  height: 80%;
  font: 2vw Sucrose-Two;
  color: rgba(255,255,255,1);
  width: 35%;

}

#pause-menu-box ul{
  list-style-type: none;
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
  -webkit-padding-start: 0;
}

.pause-menu li{
  width: 18vw;
  margin-bottom: 0.15vw;
  height: 3vw;
  transition: text-indent 0.15s ease-in-out;
  padding: 0;
  pointer-events: all;
  white-space: nowrap;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  flex-direction: row;
}

.pause-menu li:focus,
.pause-menu li:hover {
  border: 2px solid rgba(204,0,0,0);
  color: rgba(204,0,0,1);
  font: 3vw SucroseSlant-BoldThree;
  opacity: 1;
}

/* .pause-menu li:active {
  border: 2px solid rgba(204,0,0,1);
  color: rgba(255,255,255,1);
  background: rgba(204,0,0,0.2);
} */

.loadout-list{
  overflow: visible;
  overflow-y: auto;
  height: 80%;
  font-family: Sucrose-Two;
  color: rgba(255,255,255,1);
  width: 32%;
  display: flex;
  flex-direction: column;
  white-space: nowrap;
  overflow: hidden;
}

.loadout-list h1{
  font: 2vw Sucrose-BoldTwo;
  color: rgb(227,0,5);
  margin: 0;
  padding: 0;
}

.loadout-list ul{
  font: 2vw Sucrose-Two;
  color: rgb(227,0,5);
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.loadout-list li{
  margin:0;
  padding:0;
  font: 1.8vw Sucrose-Two;
  color: rgba(255,255,255,1);
  list-style-type: none;
}

.loadout-list .airdrop li{
  font: 2vw Sucrose-Two;
}

.loadout-list .perks li{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.loadout-list .perks li img{
  width: 4vw;
  height: 4vw;
  padding: 0.3vw;
  margin-right: 1vw;
}

.perks span{
  font: 1.5vw Sucrose-Two;
}

.loadout-list .challenge-toast {
  background-color: rgba(255,255,255,0.05);
}

.loadout-list .airdrop-item-list li {
  font: 1.5vw Sucrose-Two;
  text-indent: 1.5vw;
}

.loadout-list .airdrop-list-container {
  margin-bottom: 2vw;
}

.airdrop-list-container h1{
  font: 2vw Sucrose-BoldTwo;
}

.loadout-list .challenge-toast{
  -webkit-transition: none;
  position: relative;
  margin-top: 0.5vw;
  margin-bottom: 0.5vw;
  display: block;
  min-height: 4.15vw;
  max-height: 5vw;
  width: 27vw;
  background-color: rgba(50,50,50,0);
  font-family: Sucrose-Two;
}

.loadout-list .challenge-toast h1{
  color: white;
  font: 1.5vw Sucrose-Two;
  width: 18.5vw;
  max-height: 100%;
  overflow: hidden;
  white-space: normal;
}
