#pause-gameplay-menu-options ul{
  width: 100%;
  box-sizing: border-box;
  overflow: hidden;
  margin: 0;
  padding: 0;

}

#pause-gameplay-menu-options{
  position: absolute;
  height: 80%;
  width: 60%;
  top: 15%;
  box-sizing: border-box;
  overflow: hidden;
  display: flex;
  /*padding-left: 3vw;*/
  flex-direction: column;
}

#pause-gameplay-menu-options h1{
  font: 2vw Sucrose-Two;
  margin:0;
  padding:0;
}
